<div class="admin-block">
  <h1>
    ห้องเรียน - <%= @classroom.name %>
    <%= link_to 'กลับ', classrooms_path , class: 'btn-ner', style: 'margin-left:8px'%>
    <a id="update-stage" class="btn-bfr">อัพเดทคะเเนน</a>
    <!-- <%= link_to 'เพิ่มนักเรียนใหม่', new_student_path , class: 'btn-ner'%> -->
    <!-- <span class="class-period">
      ปัจุบันเรียนครั้งที่
      <select class="" name="" id="current-class">
        <% @periods.times do |p| %>
          <option
            value="<%= p + 1 %>"
            <% if (p+1) == @current_period  %>selected<% end %>
            >
            <%= p + 1 %>
          </option>
        <% end %>
      </select>
    </span> -->
  </h1>
  <form id="from-score" action="<%= home_update_score_path %>" method="get">
    <input type="hidden" name="classroom" value="<%= @classroom.course %>">
    <table>
      <thead style="border: 1px solid #dadada;">
        <tr>
          <th class="row-up row-right" rowspan="3">รหัส</th>
          <th class="row-up row-right" rowspan="3">นักเรียน</th>
          <!-- <th class="row-up row-right" rowspan="3">โรงเรียน</th> -->
          <!-- <th>คอมเม้นท์</th> -->
          <!-- <th class="center-div" >คะเเนนรวม</th> -->
          <% @periods.times do |i| %>
            <th colspan="2" class="center-div row-rep"><%= i + 1 %></th>
          <% end %>
          <th class="row-up row-left" rowspan="3" class="center-div" colspan="1">คำสั่ง</th>
        </tr>
        <tr class="row-head-score">
          <% @periods.times do |i| %>
            <th style="">
              <a href="#" class="click-to-gen-mental click-able" period="<%= i %>">10</a>
            </th>
            <th style="" class="top-input">
              <input type="text" name="score_max[<%= i %>]" value="10">
            </th>
          <% end %>
        </tr>
        <tr class="row-head-score">
          <% @periods.times do |i| %>
            <th style="">ขยัน</th>
            <th style="">สอบ</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @seats.each do |seat| %>
          <% student = Student.details(Student.code(seat[:student])) %>
          <% seat_detail = Seat.seat_detail(seat)%>
            <!-- <input type="hidden" name="student" value="<%= seat[:student] %>"> -->
            <!-- <input type="hidden" name="seat_id" value="<%= seat[:id] %>"> -->
            <tr>
              <td class="row-right row-left"><%= seat[:student] %></td>
              <td class="row-right">
                <%= "#{student[:name]} (#{student[:grade]})" %> <br>
                <%= student[:school] %>
              </td>
              <% @periods.times do |i| %>
                <td class="row-right row-center row-score">
                  <input type="text" name="mental[<%= seat[:student] %>][<%= i %>]" class="mental-point" period="<%= i %>" value="">
                </td>
                <td class="row-right row-center row-score">
                  <input type="text" name="score[<%= seat[:student] %>][<%= i %>]" class="score-point" period="<%= i %>" value="">
                </td>
              <% end %>

              <!-- <td style="max-width:90px; padding-right: 8px;">
                <input type="text" name="comment" value="<%= seat_detail[:comment] %>" style="width:100%">
              </td> -->
              <!-- <td>
                <div class="sc-tb">สอบ (<%= seat_detail[:total] %>)</div>
                <div class="ma-tb">ตั้งใจ (<%= seat_detail[:total_mental] %>)</div>
              </td> -->
              <!-- <% seat_detail[:score][:scoring].each_with_index do |score,idx|%>
                <td
                  class="scoring <% if (idx+1) == @current_period %>yellow-gadget<% end %>"
                  >
                  <input class="first" type="text" name="score[<%= idx.to_i %>]"  value="<%= seat_detail[:score][:scoring][idx] %>" style="width:100%"> <br>
                  <input type="text" name="mental[<%= idx.to_i %>]" value="<%= seat_detail[:score][:mental][idx + 1]%>"  style="width:100%"> -->
                  <!-- <select class="select-boxing" name="score[<%= idx.to_i %>]">
                    <option value="-"> - </option>
                    <% 11.times do |t| %>
                      <option
                        value="<%= t %>"
                        <% if t == (seat_detail[:score][:scoring][idx].floor.to_i rescue '-') %> selected <% end %>
                        >
                        <%= t %>
                      </option>
                    <% end %>
                  </select> <br>
                  <select class="select-boxing" name="mental[<%= idx.to_i %>]">
                    <option value="-"> - </option>
                    <% 11.times do |t| %>
                      <option
                        value="<%= t %>"
                        <% if t == (seat_detail[:score][:mental][idx + 1].floor.to_i rescue '-') %> selected <% end %>
                        >
                        <%= t %>
                      </option>
                    <% end %>
                  </select> -->
                <!-- </td>
              <% end %> -->
              <td class="row-right row-center">
                <%= link_to 'ลบ', seat, method: :delete, data: { confirm: 'ถ้าลบนักเรียน ข้อมูลคะเเนนสอบของเด็กคนนี้จะหายไปหมด มั่นใจนะ?' } ,class: 'btn-min' %>
                <!-- <input type="submit" name="" value="อัพเดท"> -->
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </form>

  <p id="notice"><%= notice %></p>

</div>

<!-- toggle change class -->
<script type="text/javascript">
  $( document ).ready(function() {
    // $('#current-class').on('change',function(){
    //   var current = $('#current-class').val();
    //   // alert(current);
    //   window.location.href = '/home/edit_current?spec=<%= params[:id] %>&current=' + current
    // });

    // enter to move down in table cell
    

    $( "#update-stage" ).on( "click", function() {
      $('#from-score').submit();
    });

    $('.click-to-gen-mental').on('click',function(){
      var period = $(this).attr('period');
      alert('สร้างคะเเนนจิตพิสัยของการเรียนครั้งที่ ' + (parseInt(period) + 1) );
      $("input.mental-point[period=" + period + "]").val(10);
    });

  });
</script>
