<!-- Score modal -->
<div class="modal score-modal">
  <div class="modal-background"></div>
  <form class="modal-card" action="<%= home_add_table_path %>" method="get">
    <input class="st-id" type="hidden" name="id" value="<%= @classroom.id %>">
    <header class="modal-card-head">
      <p class="modal-card-title">เพิ่มตารางคะเเนนสอบ</p>
      <button class="delete score-closer"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="st-name"></div>
      <div class="st-course" style="">
        <label for="added" style="
          font-size: 14px;
          display: inline-block;"
        >เรียนเสริมครั้งที่</label>
        <input
          type="text" name="comment"
          value="" placeholder="ระบุเลขครั้งที่เรียนเสริมเช่น 3.1, 5.2 ..."
          style="
            line-height: 32px;
            min-width: 240px;
            border-radius: 4px;
            border: 1px solid gainsboro;
            padding: 0 9px;
            margin-left: 8px;"
          >
      </div>
    </section>
    <footer class="modal-card-foot">
      <input type="submit" class="button is-success" value="อัพเดทข้อมูล">
      <a class="button score-closer">ยกเลิก</a>
    </footer>
  </form>
</div>

<!-- Comment modal -->
<div class="modal comment-modal">
  <div class="modal-background"></div>
  <form class="modal-card" action="<%= home_add_comment_path %>" method="get">
    <input class="st-id" type="hidden" name="id" value="<%= @classroom.id %>">
    <header class="modal-card-head">
      <p class="modal-card-title">คอมเม้นท์นักเรียน</p>
      <button class="delete comment-closer"></button>
    </header>
    <section class="modal-card-body">
      <input type="hidden" name="classroom" value="">
      <input type="hidden" name="period" value="">
      <input type="hidden" name="student" value="">
      <!-- Content ... -->
      <div class="st-name"></div>
      <div class="st-course" style="">
        <label for="comment" style=" font-size: 14px; display: inline-block;" >ความคิดเห็น</label>
        <input
          type="text" name="comment"
          value="" placeholder="ระบุสาเหตุที่หักคะเเนนจิตพิสัย"
          style="line-height: 32px; min-width: 240px; border-radius: 4px; border: 1px solid gainsboro;padding: 0 9px; margin-left: 8px;">
      </div>
    </section>
    <footer class="modal-card-foot">
      <input type="submit" class="button is-success" value="อัพเดทข้อมูล">
      <a class="button comment-closer">ยกเลิก</a>
    </footer>
  </form>
</div>

<!-- Seat Comment modal -->
<div class="modal seat-comment-modal">
  <div class="modal-background"></div>
  <form class="modal-card" action="<%= home_add_seat_comment_path %>" method="get">
    <header class="modal-card-head">
      <p class="modal-card-title">โน้ตนักเรียน</p>
      <button class="delete seat-comment-closer"></button>
    </header>
    <section class="modal-card-body">
      <input type="hidden" name="seatid" value="">
      <!-- Content ... -->
      <div class="st-name"></div>
      <div class="st-course" style="">
        <label for="comment" style=" font-size: 14px; display: inline-block;" >ความคิดเห็น</label>
        <input
          type="text" name="comment"
          value="" placeholder="ระบุสาเหตุที่หักคะเเนนจิตพิสัย"
          style="line-height: 32px; min-width: 240px; border-radius: 4px; border: 1px solid gainsboro;padding: 0 9px; margin-left: 8px;">
      </div>
    </section>
    <footer class="modal-card-foot">
      <input type="submit" class="button is-success" value="อัพเดทข้อมูล">
      <a class="button seat-comment-closer">ยกเลิก</a>
    </footer>
  </form>
</div>

<div class="admin-block">
  <h1>
    ห้องเรียน - <%= @classroom.name %> <br>
    <!-- <a id="add-table" href="<%= home_add_table_path %>?id=<%= @classroom.id %>&added=5.1" class="btn-bfr" style="margin-left:8px;">เพิ่มตาราง</a> -->
    <% if @is_admin %>
      <a
        id="add-table"
        href="#"
        class="btn-bfr"
        style="margin-left:8px;">
        เพิ่มตาราง
      </a>
    <% end %>
    <%= link_to 'กลับ', classrooms_path , class: 'btn-ner', style: 'margin-left:8px'%>
    <a id="update-stage" class="btn-bfr">อัพเดทคะเเนน</a>
    <!-- <%= link_to 'เพิ่มนักเรียนใหม่', new_student_path , class: 'btn-ner'%> -->
    <span class="class-period">
      ปัจุบันเรียนครั้งที่
      <select class="" name="" id="current-class">
        <% @max_score.each do |mx| %>
          <option
            value="<%= mx[0] %>"
            <% if mx[0] == @current_period %>selected<% end %>
            >
            <%= mx[0] %>
          </option>
        <% end %>
      </select>
    </span>
  </h1>
  <form id="from-score" action="<%= home_update_score_path %>" method="get">
    <input type="hidden" name="cl" value="<%= @classroom.id %>">
    <table id="main-tab" style="background:#ffffff">
      <thead style="border: 1px solid #dadada;">
        <tr>
          <th class="row-up row-right" rowspan="3">รหัส</th>
          <th class="row-up row-right" rowspan="3">นักเรียน</th>
          <% @max_score.each do |mx| %>
            <th colspan="2" class=" center-div row-rep " style="position: relative">
              <%= mx[0] %>
              <% if @toggle_max_score != nil %>
                <%= link_to 'x', home_remove_period_path(period: mx[0],class: @classroom.id) , data: { confirm: 'ถ้ากดลบคะเเนนครั้งนี้ ข้อมูลที่เกี่ยวข้องทั้งหมดจะหายไป เเน่ใจนะ?' } ,style: 'position: absolute;
                  top: -1px;
                  right: 0px;
                  line-height: 15px;
                  font-size: 10px;
                  background: #dadada;
                  color: #7d7d7d;
                  padding: 0 2px;' %>
              <% end %>
            </th>
          <% end %>
          <!-- <th class="row-up row-left" rowspan="3" class="center-div" colspan="1">คำสั่ง</th> -->
        </tr>
        <tr class="row-head-score">
          <% @max_score.each_with_index do |mx,i| %>
            <th class="<% if mx[0] == @current_period %> current-row <% end %>">
              <a href="#" class="click-to-gen-mental click-able" period="<%= i %>" period-val="<%= mx[0] %>">10</a>
            </th>
            <th style="" class="top-input <% if mx[0] == @current_period %> current-row <% end %>">
              <input
                type="text"
                name="max[<%= mx[0] %>]"
                value="<%= mx[1] rescue 10 %>"
              >
            </th>
          <% end %>
        </tr>
        <tr class="row-head-score">
          <% @max_score.each_with_index do |mx,i| %>
            <th class="<% if mx[0] == @current_period %> current-row <% end %>">ขยัน</th>
            <th class="<% if mx[0] == @current_period %> current-row <% end %>">สอบ</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @seat_sort.each do |seat| %>
          <% if Student.where(student_code: seat[:student]).count > 0 %>
            <!-- get student data -->
            <% student  = Student.details(Student.code(seat[:student])) %>
            <!-- get score and mental point -->
            <% score_param = {classroom: @classroom.id, student: seat[:student] ,exam_type: 'scoring'}%>
            <% mental_param = {classroom: @classroom.id, student: seat[:student] ,exam_type: 'mental'}%>
            <% if Exam.where(score_param).count > 0 %>
              <% score_ex = JSON.parse(Exam.where(score_param).first['score']) %>
            <% else %>
              <% score_ex = '' %>
            <% end %>
            <% if Exam.where(mental_param).count > 0 %>
              <% mental_ex = JSON.parse(Exam.where(mental_param).first['score']) %>
            <% else %>
              <% mental_ex = '' %>
            <% end %>
            <!-- show result score -->
            <% seat_detail = Seat.seat_detail(seat)%>
              <tr>
                <td class="row-right row-left"><%= seat[:student] %></td>
                <td class="row-right">
                  <%= "#{student[:name]} (#{student[:grade]})" %> <br>
                  <%= student[:school] %> <br>
                  <a href="#" class="add-seat-comment" seat="<%= seat[:id] %>" style="
                    <% unless seat[:comment].present? %> color: #e45151; <% end %>
                    font-size: 11px; margin-top: 2px; display: inline-block;
                    max-width: 100px; max-height: 37px; overflow: hidden;
                  ">
                  <%= seat[:comment].present? ? "โน้ต: #{seat[:comment]}" : "+เพิ่มโน้ต" %>
                </a>
                </td>
                <% @max_score.each_with_index do |mx,i| %>
                  <!-- select mental score -->
                  <td class="row-right row-center row-score row-for-ment <% if mx[0] == @current_period %> current-row <% end %>">
                    <% if mx[0] == @current_period %>
                    <select
                      style="padding: 0 3px;-webkit-appearance: none;border-radius: 4px;width: 22px;line-height: 17px;border: 1px solid gainsboro;background: white;"
                      class="mental-point" period="<%= i %>"
                      name="m[<%= student[:id] %>][<%= mx[0] %>]"
                      value="<%= mental_ex[mx[0]] %>"
                      >
                      <% @select_options.each do |sc|%>
                        <option
                          value="<%= sc %>"
                          <% if mental_ex[mx[0]] == sc %> selected <% end %>
                          ><%= sc %></option>
                      <% end %>
                    </select>
                    <a class="ment" href="#" style="
                      line-height: 7px;
                      font-size: 8px;
                      margin-top: 3px;"
                      classroom="<%= @classroom.id %>"
                      period="<%= mx[0] %>"
                      student="<%= student[:id] %>"
                      >
                      com <br>
                      ment
                    </a>
                    <!-- <input
                      type="text" period="<%= i %>"
                      name="m[<%= student[:id] %>][<%= i %>]"
                      class="mental-point"
                      value="<%= mental_ex[i.to_s] %>"> -->
                    <% else %>
                      <span
                        <% if mental_ex[mx[0]].to_i < 10 %>
                          style="color: red; cursor: pointer"
                          class="ment"
                          classroom="<%= @classroom.id %>"
                          period="<%= mx[0] %>"
                          student="<%= student[:id] %>"
                        <% end %>
                        >
                        <%= mental_ex[mx[0]] %>
                      </span>
                    <% end %>
                  </td>
                  <!-- input score point -->
                  <td class="row-right row-center row-score <% if mx[0] == @current_period %> current-row <% end %>">
                    <% if mx[0] == @current_period %>
                      <input
                        type="text" period="<%= mx[0] %>"
                        name="s[<%= student[:id] %>][<%= mx[0] %>]"
                        class="score-point"
                        value="<%= score_ex[mx[0]] %>">
                    <% else %>
                      <%= score_ex[mx[0]] %>
                    <% end %>
                  </td>
                <% end %>
                <!-- <td class="row-right row-center">
                  <%= link_to 'ลบ', seat, method: :delete, data: { confirm: 'ถ้าลบนักเรียน ข้อมูลคะเเนนสอบของเด็กคนนี้จะหายไปหมด มั่นใจนะ?' } ,class: 'btn-min' %>
                </td> -->
              </tr>
          <% end %>

        <% end %>
      </tbody>
    </table>
  </form>

  <p id="notice"><%= notice %></p>

</div>

<!-- toggle change class -->
<script type="text/javascript">
  $( document ).ready(function() {
    //
    $('#current-class').on('change',function(){
      var current = $('#current-class').val();
      window.location.href = '/home/edit_current?class=<%= params[:id] %>&current=' + current
    });

    // enter to move down in table cell
    $( "#update-stage" ).on( "click", function() {
      $('#from-score').submit();
    });

    //
    $('.click-to-gen-mental').on('click',function(){
      var val = $(this).attr('period-val');
      var period = $(this).attr('period');
      alert('สร้างคะเเนนจิตพิสัยของการเรียนครั้งที่ ' + val );
      $("select.mental-point[period=" + period + "]").val(10);
    });

    //
    $('.row-for-ment').each(function(){
      // if($(this).val() < 10){
      var selecting = $(this).find('select.mental-point');
      if( selecting.val() < 10 && selecting.val()){
        selecting.addClass('comment');
        $(this).find('a.ment').addClass('shower');
      }
    });

    // add seat comment
    $('.add-seat-comment').on('click', function(){
      var id = $(this).attr('seat');
      $("input[name='seatid']").val(id);
      $('.seat-comment-modal').addClass('is-active');
      // get comment detail
      $.ajax({
				url:     '<%= init_get_seat_comment_req_path %>',
        data:    { id: id },
				success: function(response){ $("input[name='comment']").val(response.comment); }
			});
    });

    $('.seat-comment-closer').on('click',function(){
      $('.seat-comment-modal').removeClass('is-active');
    });


    // add comment
    $('.ment').on('click', function(){
      var period = $(this).attr('period');
      var classroom = $(this).attr('classroom');
      var student = $(this).attr('student');
      // alert( classroom + "/" + period + "/" + student);
      $("input[name='classroom']").val(classroom);
      $("input[name='period']").val(period);
      $("input[name='student']").val(student);
      $("input[name='comment']").val("");
      $('.comment-modal').addClass('is-active');
      // get comment detail
      $.ajax({
				url: '<%= init_get_comment_req_path %>',
        data: {
          classroom: classroom,
          student: student,
          period: period
        },
				success: function(response){
          // alert(JSON.stringify(response));
          $("input[name='comment']").val(response.comment);
				}
			});
    });

    $('.comment-closer').on('click',function(){
      $('.comment-modal').removeClass('is-active');
    });

    // add table
    $('#add-table').on('click',function(){
      $('.score-modal').addClass('is-active');
    });

    $('.score-closer').on('click',function(){
      $('.score-modal').removeClass('is-active');
    });



    // add static row to table
    // $('#add-table').on('click', function(){
    //   var content = $("#main-tab thead tr:first th").length;
    //   //
    //   $("#main-tab thead tr:first").append("<th colspan='2' class='center-div row-rep' >"+(content-1)+"</th>");
    //   //
    //   $("#main-tab thead tr:nth-child(2)").append("<th class='' >"+"<a href='#' class='click-to-gen-mental click-able' period='"+ content +"'>10</a>"+"</th>");
    //   $("#main-tab thead tr:nth-child(2)").append("<th class='top-input' >"+"<input type='text' name='max["+ content +"]' value='10'>"+"</th>");
    //   //
    //   $("#main-tab thead tr:nth-child(3)").append("<th>ขยัน</th>");
    //   $("#main-tab thead tr:nth-child(3)").append("<th>สอบ</th>");
    //   //
    //   var row = $("#main-tab tbody tr");
    //   for (var i = 0; i < row.length; i++) {
    //     $("#main-tab tbody tr:nth-child("+ (i+1) +")").append("<td class='row-right row-center row-score row-for-ment'></td>");
    //     $("#main-tab tbody tr:nth-child("+ (i+1) +")").append("<td class='row-right row-center row-score'></td>");
    //   }
    //   // alert(row);
    // });
  });
</script>
