<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    Classrooms - <%= Classroom.count_all %> ห้องเรียน
    <%= link_to 'New Classroom', new_classroom_path , class: 'btn-ner'%>
  </h1>

  <table>
    <thead>
      <tr>
        <th>รหัสห้องเรียน</th>
        <th>ชื่อห้องเรียน</th>
        <th>ผู้สอน</th>
        <th>ค่าลงทะเบียน</th>
        <th>จำนวนนักเรียน</th>
        <th>จำนวนครั้ง</th>
        <th>ซีซั่น</th>
        <th>เวลาเรียน</th>
        <th>สถานะ</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @classrooms.each do |classroom| %>
        <% classroom_detail = Classroom.details(classroom)%>
        <tr>
          <td><%= classroom.spec %></td>
          <td><%= classroom.name %></td>
          <td><%= classroom_detail[:teacher] %></td>
          <td><%= classroom_detail[:price] %></td>
          <td><%= classroom_detail[:seat] %>คน <a class="btn-red-mini" href="#">+Add</a></td>
          <td><%= classroom_detail[:schedule] %> ครั้ง</td>
          <td><%= classroom_detail[:course_period] %></td>
          <td><%= classroom_detail[:timetable] %></td>
          <td><%= classroom_detail[:status] %></td>
          <td><a target="_blank" href="<%= home_class_detail_path %>?id=<%= classroom.spec %>" class="btn btn-default btn-redder">ผลคะเเนน</a></td>
          <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
          <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
