<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    Classrooms - <%= Classroom.count_all %> ห้องเรียน
    <%= link_to 'New Classroom', new_classroom_path , class: 'btn-ner'%>
  </h1>

  <div class="modal">
    <div class="modal-background"></div>
    <form class="modal-card" action="<%= home_update_class_path %>" method="get">
      <input class="cl-id" type="hidden" name="classroom" value="">
      <header class="modal-card-head">
        <p class="modal-card-title">เพิ่มนักเรียนเข้าสู้ห้องเรียน</p>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="st-course" style="margin-bottom: 16px;"></div>
        <table>
          <thead>
            <tr>
              <th>เลือก</th>
              <th>ชื่อนักเรียน</th>
              <th>โรงเรียน</th>
              <th>รหัสนักเรียน</th>
            </tr>
          </thead>
          <tbody class="pop-course">
            <% Student.all.each do |s| %>
             <% school = School.find(s[:school]) %>
              <tr>
                <td><input type="checkbox" name="[student]<%= s[:student_code] %>" value="" code="<%= s[:student_code] %>"> </td>
                <td><%= s[:nickname] %></td>
                <td><%= school[:name] %></td>
                <td><%= s[:student_code] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <footer class="modal-card-foot">
        <input type="submit" class="button is-success" value="อัพเดทข้อมูล">
        <a class="button closer">ยกเลิก</a>
      </footer>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>รหัสห้องเรียน</th>
        <th>ชื่อห้องเรียน</th>
        <th>ผู้สอน</th>
        <th>ค่าลงทะเบียน</th>
        <th>จำนวนนักเรียน</th>
        <th>จำนวนครั้ง</th>
        <th>ซีซั่น</th>
        <th>เวลาเรียน</th>
        <th>สถานะ</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% (@classrooms.sort_by { |s| Course.find(s[:course])[:grade]  }).each do |classroom| %>
        <% classroom_detail = Classroom.details(classroom)%>
        <tr>
          <td><%= classroom.spec %></td>
          <td><%= classroom.name %></td>
          <td><%= classroom_detail[:teacher] %></td>
          <td><%= classroom_detail[:price] %></td>
          <td>
            <%= classroom_detail[:seat] %>คน
            <a
              class="open-modal btn-red-mini" href="#"
              spec="<%= classroom.spec %>"
              >
              +Add
            </a>
          </td>
          <td><%= classroom_detail[:schedule] %> ครั้ง</td>
          <td><%= classroom_detail[:course_period_from] %> -<br><%= classroom_detail[:course_period_to] %></td>
          <td><%= classroom_detail[:timetable_from] %> -<br><%= classroom_detail[:timetable_to] %></td>
          <td><%= classroom_detail[:status] %></td>
          <td><a target="_blank" href="<%= classrooms_class_detail_path %>?id=<%= classroom.spec %>" class="btn-redder">ผลคะเเนน</a></td>
          <td><%= link_to 'รายละเอียด', edit_classroom_path(classroom) , class: 'btn-grey'  %></td>
          <td><%= link_to 'ลบทิ้ง', classroom, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn-grey' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $('.open-modal').on('click',function(){
      $('.modal').addClass('is-active');
      spec = $(this).attr("spec");
      $('.cl-id').val(spec);
      $.ajax({
				url: '<%= init_get_class_advisee_path %>',
        data: {
          classroom: spec
        },
				success: function(response){
          //alert(JSON.stringify(response.collect));
          $('.st-course').text(response.get);
          $("tbody.pop-course").find("tr").each(function() {
            //find course then checked
            var students     = $(this).find('input');
            //clear all value
            students.prop('checked', false);
            var find_course = response.collect.indexOf(students.attr('code'));
            if (find_course >= 0) {
              //alert(find_course);
              students.prop('checked', true);
            }
          });
				}
			});
    });

    $('.closer').on('click',function(){
      $('.modal').removeClass('is-active');
    });
  });
</script>
