<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    Classrooms
    <% if @is_admin %>
       - <%= Classroom.count_all %> ห้องเรียน
       <%= link_to 'New Classroom', new_classroom_path , class: 'btn-ner'%>
    <% end %>
  </h1>

  <form class="searchable" action="" method="get">
    <select class="selector" name="type">
      <option value="spec" <% if params[:type] == 'spec'%>selected<% end %>>รหัสห้องเรียน</option>
      <option value="teacher" <% if params[:type] == 'teacher'%>selected<% end %>>ครูผู้สอน</option>
    </select>
    <input class="inputs" type="text" name="keyword" value="<%= params[:keyword] %>" placeholder="search something">
    <input class="submit" type="submit" value="search">
  </form>

  <!-- <div class="modal">
    <div class="modal-background"></div>
    <form class="modal-card" action="<%= home_update_class_path %>" method="get">
      <input class="cl-id" type="hidden" name="classroom" value="">
      <header class="modal-card-head">
        <p class="modal-card-title">เพิ่มนักเรียนเข้าสู่ห้องเรียน</p>
      </header>
      <section class="modal-card-body">
        <div class="st-course" style="margin-bottom: 16px;"></div>
        <table>
          <thead>
            <tr>
              <th>เลือก</th>
              <th>ภาพถ่าย</th>
              <th>ชื่อนักเรียน</th>
              <th>โรงเรียน</th>
              <th>รหัสนักเรียน</th>
            </tr>
          </thead>
          <tbody class="pop-course">
            <%  Student.all.each do |s| %>
             <% school = School.find(s[:school]) rescue '-' %>
              <tr>
                <td><input type="checkbox" name="[student]<%= s[:student_code] %>" value="" code="<%= s[:student_code] %>"> </td>
                <td><img src="../img_ref/kids.png" alt="" style="width:30px"/></td>
                <td>
                  <%= s[:nickname] %><br>
                  <a target="_blank" href="/students/<%= s[:id] %>/edit" style="color:#3F51B5">ดูข้อมูลเด็ก >></a>
                </td>
                <td><%= school[:name] rescue '-' %></td>
                <td><%= s[:student_code] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <footer class="modal-card-foot">
        <input type="submit" class="button is-success" value="อัพเดทข้อมูล">
        <a class="button closer">ยกเลิก</a>
      </footer>
    </form>
  </div> -->

  <% @semester_lists.each do |sem| %>
    <% semester = Semester.where(sem_code: sem).first %>
    <% course_lists = Course.where(semester: sem).pluck(:id).uniq.sort { |x,y| x <=> y } %>
    <div class="label-banner">ภาคการศึกษา / <%= semester[:name] %></div>

    <table>
      <thead>
        <tr>
          <th>รหัสห้องเรียน</th>
          <th>ชื่อห้องเรียน</th>
          <th>ผู้สอน</th>
          <!-- <th>ค่าลงทะเบียน</th> -->
          <th>จำนวนนักเรียน</th>
          <th>รายละเอียดคอร์ส</th>
          <!-- <th>จำนวนครั้ง</th>
          <th>ซีซั่น</th>
          <th>เวลาเรียน</th> -->
          <!-- <th>สถานะ</th> -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% course_lists.each do |cs| %>
          <tr style=" background: #e8e8e8; color: #101010;">
            <td colspan="8"><%= Course.find(cs).name %></td>
          </tr>
          <% filter_param = @is_admin ? {course: cs} : {course: cs,id: @teacher_class } %>
          <% (@classrooms.where(filter_param).sort_by { |s| s.spec  }).each do |classroom| %>
            <% classroom_detail = Classroom.details(classroom)%>
            <tr>
              <td><%= classroom.spec %></td>
              <td>
                <%= classroom.name %> <br>
                <a href="/courses/<%= classroom.course %>" style="font-size:11px;color:grey"><%= Course.find(classroom.course)[:name] %></a>
              </td>
              <td><%= classroom_detail[:teacher] %></td>
              <!-- <td><%= classroom_detail[:price] %></td> -->
              <td>
                <%= classroom_detail[:seat] %>คน
                <% if @is_admin %>
                  <a class="btn-red-mini" href="<%= task_add_seat_path %>?classroom=<%= classroom.id %>">+Add</a>
                <% end %>
              </td>
              <td>
                <%= classroom.desc.html_safe %>
              </td>
              <!-- <td><%= classroom_detail[:schedule] %> ครั้ง</td>
              <td><%= classroom_detail[:course_period_from] %> -<br><%= classroom_detail[:course_period_to] %></td>
              <td><%= classroom_detail[:timetable_from] %> -<br><%= classroom_detail[:timetable_to] %></td>
              <td><%= classroom_detail[:status] %></td> -->
              <td><a target="_blank" href="<%= classrooms_class_detail_path %>?id=<%= classroom.id %>" class="btn-redder">ผลคะเเนน</a></td>
              <% if @is_admin %>
                <td><%= link_to 'รายละเอียด', edit_classroom_path(classroom) , class: 'btn-grey'  %></td>
                <td><%= link_to 'ลบทิ้ง', classroom, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn-grey' %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>

</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $('.open-modal').on('click',function(){
      $('.modal').addClass('is-active');
      spec = $(this).attr("spec");
      $('.cl-id').val(spec);
      $.ajax({
				url: '<%= init_get_class_advisee_path %>',
        data: {
          classroom: spec
        },
				success: function(response){
          //alert(JSON.stringify(response.collect));
          $('.st-course').text(response.get);
          $("tbody.pop-course").find("tr").each(function() {
            //find course then checked
            var students     = $(this).find('input');
            //clear all value
            students.prop('checked', false);
            var find_course = response.collect.indexOf(students.attr('code'));
            if (find_course >= 0) {
              //alert(find_course);
              students.prop('checked', true);
            }
          });
				}
			});
    });

    $('.closer').on('click',function(){
      $('.modal').removeClass('is-active');
    });
  });
</script>
