<p id="notice"><%= notice %></p>

<div class="" style="
  background: white;
  padding: 0 30px;
">
  <div class="container __body">
    <h1 style="margin: 40px 0 20px 10px;">รายละเอียดเวปไซท์</h1>
  </div>
  <p><strong>Company name:</strong></p>
  <p><%= @configur.company_name %></p>
  <br>
  <p><strong>Top contact:</strong></p>
  <p><%= @configur.top_contact %></p>
  <br>
  <p><strong>Contact info:</strong></p>
  <div class="">
    <%= @configur.contact_info.html_safe %>
  </div>
  <br>
  <p><strong>Home slider:</strong></p>
  <div class="">
    <table>
      <thead  style="background: #eaeaea;">
        <th>title</th>
        <th>tab</th>
        <th>url</th>
        <th>subject</th>
        <th>link</th>
        <th>image</th>
      </thead>
      <tbody>
        <% eval(@configur.home_slider).each do |slide| %>
          <tr>
            <td><%= slide[:title][0..30]%></td>
            <td><%= slide[:tab]%></td>
            <td><%= slide[:url]%></td>
            <td><%= slide[:subtitle][0..30]%>..</td>
            <td><%= slide[:link]%></td>
            <td><%= slide[:image]%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br><br>
</div>
<br><br>
<div class="" style="text-align:center">
  <a href="<%= edit_configur_path(@configur) %>" style="
    background: #f14141;
    padding: 11px 12px;
    color: white;
    line-height: 40px;
    border-radius: 5px;
  ">
    แก้ไขรายละเอียด
  </a>
  <!-- <a href="<%= configurs_path %>" style="
    background: #bfbaba;
    padding: 11px 12px;
    color: #464646;
    line-height: 40px;
    border-radius: 5px;
    margin-left: 10px;
  ">
    ตกลง
  </a> -->
</div>
