<div class="admin-block">
  <h1>
    Students - <%= @student_count %> คน
    <%= link_to 'อัพเดทชั้นปี', home_student_upgrade_grade_path , class: 'btn-bfr' , style: 'margin-left: 8px;' , onclick: "return confirm('เมื่อตกลงระบบจะทำการเพิ่มชั่นปีของเด็กทุกคน 1ปีทันที เเน่ใจนะ?')" %>
    <%= link_to 'New Student', new_student_path , class: 'btn-ner'%>
  </h1>

  <form class="searchable" action="" method="get">
    <select class="selector" name="type">
      <option value="student_code" <% if params[:type] == 'student_code'%>selected<% end %>>รหัสนักเรียน</option>
      <option value="grade" <% if params[:type] == 'grade'%>selected<% end %>>ชั้นเรียน</option>
      <option value="school" <% if params[:type] == 'school'%>selected<% end %>>โรงเรียน</option>
      <option value="nickname" <% if params[:type] == 'nickname'%>selected<% end %>>ชื่อนักเรียน</option>
    </select>
    <input class="inputs" type="text" name="keyword" value="<%= params[:keyword] %>" placeholder="search something">
    <input class="submit" type="submit" value="search">
  </form>

  <div class="modal">
    <div class="modal-background"></div>
    <form class="modal-card" action="<%= home_update_course_path %>" method="get">
      <input class="st-id" type="hidden" name="student" value="">
      <header class="modal-card-head">
        <p class="modal-card-title">ลงวิชาเรียนเพิ่ม</p>
        <button class="delete closer"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="st-name"></div>
        <div class="st-course" style="margin-bottom: 16px;"></div>
        <table>
          <thead>
            <tr>
              <th>เลือก</th>
              <th>รหัสวิชา</th>
              <th>รายชื่อวิชา</th>
            </tr>
          </thead>
          <tbody class="pop-course">
            <% (Classroom.all).each do |c| %>
              <tr>
                <td><input type="checkbox" name="[course]<%= c[:spec] %>" value="" course="<%= c[:spec] %>"> </td>
                <td><%= c[:spec] %></td>
                <td><%= c[:name] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <footer class="modal-card-foot">
        <input type="submit" class="button is-success" value="อัพเดทข้อมูล">
        <a class="button closer">ยกเลิก</a>
      </footer>
    </form>
  </div>

  <% @grade_lists.each do |gd| %>
    <div class="label-banner">ชั้นปี / <%= if gd <= 12 then Student.parse_grade(gd) else "สำเร็จการศึกษา(มัธยม)" end %></div>
    <table>
      <thead>
        <tr>
          <th>Student Code</th>
          <th>รายชื่อ</th>
          <th>โรงเรียน</th>
          <th>ชั้นปี</th>
          <th>คอร์สที่ลง</th>
          <th>เพศ</th>
          <!-- <th>โรงเรียน</th> -->
          <th>Password</th>
          <th>Secret</th>
          <!-- <th>ผู้ปกครอง</th>
          <th>Email</th> -->
          <th>เบอร์โทร</th>
          <th>วันเกิด</th>
          <!-- <th>Line</th> -->
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% (@students.where(grade: gd).limit(10).order('student_code desc')).each do |student| %>
          <% student_detail = Student.details(student) %>
          <tr>
            <td><%= student[:student_code] %></td>
            <td><%= student.name %> <%= student.surname %> (น้อง<%= student_detail[:name] %>)</td>
            <td><%= student_detail[:school] %></td>
            <td><%= student_detail[:grade] %></td>
            <td><%= Register.where(student: student[:student_code]).count %> คอร์ส</td>
            <td><%= student_detail[:gender] %></td>
            <td>
              .<%= Student.parse_birthdate(student[:birthday]) %>
              <!-- <%  if student[:username].present? %> ✅ <% else %> ⬜️ <% end %> -->
            </td>
            <td><%  if student[:secret_id].present? %> ✅ <% else %> ⬜️ <% end %></td>
            <!-- <td><%= student_detail[:parent] %></td>
            <td><%= student_detail[:email] %></td> -->
            <td style="font-size: 12px">
              <%= student[:tel_parent] %> <br>
              <%= student[:tel] %>
            </td>
            <td style="font-size: 12px"><%= student_detail[:birthday] %></td>
            <!-- <td><%= student_detail[:line] %></td> -->
            <td>
              <a target="_blank" class="btn-grey" href="/student_report/<%= student.id %>">คะเเนน</a>
            </td>
            <td>
              <a
                class="open-modal btn-redder"
                href="#" student="<%= student[:student_code] %>"
                name="<%= student_detail[:name] %>"
                grade="<%= student_detail[:grade] %>"
                school="<%= student_detail[:school] %>">
                +เพิ่มวิชา
              </a>
            </td>
            <td><%= link_to 'รายละเอียด', edit_student_path(student) , class: 'btn-grey' %></td>
            <td><%= link_to 'ลบทิ้ง', student, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn-grey' %></td>
          </tr>
        <% end %>
        <% if @students.where(grade: gd).count > 10 %>
          <a class="btn-redder" href="/students?type=grade&keyword=<%= gd %>">ดูเพิ่มเติม</a>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
  <br>
</div>
<p id="notice"><%= notice %></p>

<script type="text/javascript">
  $( document ).ready(function() {
    $('.open-modal').on('click',function(){
      $('.modal').addClass('is-active');
      gs = $(this).attr("student");
      gg = $(this).attr("grade");
      gn = $(this).attr("name");
      gschool = $(this).attr("school");
      $('.st-name').text(gn + " | " + gg + " โรงเรียน" + gschool);
      $('.st-id').val(gs);
      //alert(gs);
      $.ajax({
				url: '<%= init_get_subscription_path %>',
        data: {
          student_code: gs
        },
				success: function(response){
          $('.st-course').text(response.get);
          $("tbody.pop-course").find("tr").each(function() {
            //find course then checked
            var courses     = $(this).find('input');
            //clear all value
            courses.prop('checked', false);
            var find_course = response.get.indexOf(courses.attr('course'));
            if (find_course >= 0) {
              //alert(find_course);
              courses.prop('checked', true);
            }
          });
				}
			});
    });

    $('.closer').on('click',function(){
      $('.modal').removeClass('is-active');
    });
  });
</script>
