<div class="admin-block">
<p id="notice"><%= notice %></p>

<h1>
  Students - <%= Student.count_all %> คน
  <%= link_to 'New Student', new_student_path , class: 'btn-ner'%>
</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>รายชื่อ</th>
      <th>ชั้นปี</th>
      <th>คอร์สที่ลง</th>
      <th>โรงเรียน</th>
      <th>ผู้ปกครอง</th>
      <th>Email</th>
      <th>เบอร์โทร</th>
      <th>Line</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% (@students.sort_by {|s| s[:grade]}).each do |student| %>
      <% student_detail = Student.details(student) %>
      <tr>
        <td><%= student[:student_code] %></td>
        <td><%= student_detail[:name] %></td>
        <td><%= student_detail[:grade] %></td>
        <td><%= student_detail[:seat][:c] %> วิชา</td>
        <td><%= student_detail[:school] %></td>
        <td><%= student_detail[:parent] %></td>
        <td><%= student_detail[:email] %></td>
        <td><%= student_detail[:tel] %></td>
        <td><%= student_detail[:line] %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
