<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.nickname %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade rescue '' %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school  rescue ''%>
</p>

<p>
  <strong>Parent:</strong>
  <%= @student.parent  rescue '' %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email  rescue ''%>
</p>

<p>
  <strong>Tel:</strong>
  <%= @student.tel  rescue ''%>
</p>

<p>
  <strong>Line:</strong>
  <%= @student.line  rescue ''%>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @student.facebook  rescue ''%>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
