<!-- %= @stock_data % -->

<div id="app">
  <blog-header :data="header"></blog-header>
  <blog-quote :stock="stock"></blog-quote>
  <hr>
</div>
<section class="is-light is-medium">
  <div class="hero-body container">
    <div id="chart" style="width: 80%; height: 480px; margin:auto"></div>
  </div>
</section>


<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  //app config
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ราคาหลักทรัพย์',
      stock: {
        quote:"<%= @quote %>",
        price: "<%= @stock_data[0] %>",
        change:"<%= @stock_data[1] %>",
        cpercent:"<%= @stock_data[2] %>",
        date:"<%= @stock_data[3] %>",
        range: '<%= @stock_data[4] %>',
        yearRange: '<%= @stock_data[5] %>',
        volumn: "<%= @stock_data[6] %>",
        link:"#"
      }
    }
  });
  //graph config
  var myChart = echarts.init(document.getElementById('chart'));
  var option = {
      title: { text: 'ราคาล่าสุด | PSH' },
      xAxis: {data: ["2012","2013","2014","2015","2016","2017"]},
      yAxis: {},
      series: [{
          name: 'ราคาหุ้น(บาท)',
          type: 'bar',
          data: [5, 20, 36, 10, 10, 20]
      }]
  };
  myChart.setOption(option);
</script>
