<%= form_for(newsfeed) do |f| %>
  <% if newsfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newsfeed.errors.count, "error") %> prohibited this newsfeed from being saved:</h2>

      <ul>
      <% newsfeed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title , class: 'label' %>
    <p class="control">
      <%= f.text_field :title , class: 'input' %>
    </p>
  </div>

  <div class="field">
    <%= f.label :desc , class: 'label' %>
    <p class="control">
      <!-- %= f.text_field :desc , class: 'input' % -->
      <%= f.text_area :desc, class: 'input',  :id => "message_area", :cols => 10, :rows => 10 %>
    </p>
  </div>

  <div class="field">
    <%= f.label :writer , class: 'label' %>
    <p class="control">
      <%= f.text_field :writer , class: 'input' %>
    </p>
  </div>

  <div class="field">
    <%= f.label :image , class: 'label' %>
    <p class="control">
      <%= f.text_field :image , class: 'input' %>
    </p>
  </div>

  <div class="field">
    <%= f.label :newstype , class: 'label' %>
    <p class="control">
      <span class="select">
        <%= f.select(:newstype , [['ข่าวset', 'ข่าวset'], ['ปฏิทินหุ้น', 'ปฏิทินหุ้น'], ['สื่อมวลชน', 'สื่อมวลชน']]) %>
      </span>
    </p>
  </div>

  <div class="field">
    <%= f.label :status , class: 'label' %>
    <p class="control">
      <span class="select">
        <%= f.select(:status , [['draft', 'draft'], ['publish', 'publish'], ['unlist', 'unlist']]) %>
      </span>
    </p>
  </div>

  <div class="field">
    <%= f.label :link , class: 'label' %>
    <p class="control">
      <%= f.text_field :link , class: 'input' %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit 'ส่งข้อความ' , :class => 'button _ready' %>
  </div>
<% end %>
