<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              <a class="modal-default-button" @click="$emit('close')">
                <i class="fa fa-times"></i>
              </a>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<div class="flex" id="app">
  <div class="side-bar is-fullheight">
    <section class="side-bar-cont">
      <!-- i class="fa fa-bars clicker" v-on:click="menu = !menu" ></i -->
      <a href="<%= home_portfolio_path(filtered: 'web') %>"> <i class="fa fa-desktop clicker"></i> </a>
      <a href="<%= home_portfolio_path(filtered: 'app') %>"> <i class="fa fa-mobile clicker"></i> </a>
      <a href="<%= home_portfolio_path(filtered: 'film') %>"> <i class="fa fa-camera-retro clicker"></i> </a>
    </section>
    <!-- transition name="fade">
      <section v-if="menu" class="side-menu">
        <i v-on:click="menu = !menu" class="close-butt fa fa-times"></i>
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Customers</a></li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li><a href="#">Team Settings</a></li>
            <li>
              <a class="is-active" href="#">Manage Your Team</a>
              <ul>
                <li><a href="#">Members</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Add a member</a></li>
              </ul>
            </li>
            <li><a href="#">Invitations</a></li>
            <li><a href="#">Authentication</a></li>
          </ul>
          <p class="menu-label">
            Transactions
          </p>
          <ul class="menu-list">
            <li><a href="#">Payments</a></li>
            <li><a href="#">Transfers</a></li>
            <li><a href="#">Balance</a></li>
          </ul>
        </aside>
      </section>
    </transition -->
  </div>

  <a href="#" v-on:click="menu = !menu"></a>
  <div class="main-container">
    <div class="size-50">
      <section id="nav" class="hero is-danger">
        <div class="hero-head">
          <header class="nav">
            <div class="container">
              <div class="nav-left">
                <a class="nav-item" href="<%= root_path %>">
                  <img src="https://s27.postimg.org/n4heq6zpf/logo_koh.png" alt="" style="height: 14px; margin-top: 2px; margin-left: 20px;">
                </a>
              </div>
              <div class="nav-right nav-contact-menu">
                <a v-on:click="showModal = true" class="nav-item phone" href="#">
                  <i class="fa fa-phone"></i>
                </a>
              </div>
            </div>
          </header>
        </div>
      </section>
      <modal v-if="showModal" v-on:close="showModal = false">
        <div slot="body">
          <div class="header-comp">KOHLIFE (THAILAND) CO. LTD</div>
          <div><i class="fa fa-envelope-o"></i> tryn@kohlife.com</div>
          <div><i class="fa fa-phone"></i> +662-521-2111</div>
        </div>
      </modal>
      <section class="hero jumbo is-light ">
        <div class="hero-body">
          <div class="">
            <h1 class="header element"></h1>
            <h1 v-on:mouseover="checkActive('tab1')" class="title sub-header clicker">STORYTELLING.</h1>
            <transition name="slide-fade">
              <div v-show="isActive('tab1')" class="sub-title">
                <h1 class="title">BUSINESS ANALYSIS</h1>
                <h1 class="title">DIGITAL MEDIA PLANNING</h1>
                <h1 class="title">DIGITAL CAMPAIGN PLANNING</h1>
              </div>
            </transition>
            <h1 v-on:mouseover="checkActive('tab2')" class="title sub-header clicker">CRAFT/DESIGN.</h1>
            <transition name="slide-fade">
              <div v-show="isActive('tab2')" class="sub-title">
                <h1 class="title">UI/UX DESIGN</h1>
                <h1 class="title">PHOTOGRAPHY</h1>
                <h1 class="title">CAMPAIGN</h1>
              </div>
            </transition>
            <h1 v-on:mouseover="checkActive('tab3')" class="title sub-header clicker">TECHNOLOGY.</h1>
            <transition name="slide-fade">
              <div v-show="isActive('tab3')" class="sub-title">
                <h1 class="title">PHOTOGRAPHY</h1>
                <h1 class="title">CAMPAIGN</h1>
              </div>
            </transition>
          </div>
        </div>
      </section>
    </div>

    <section class="hero size-50 is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="header" style="color:white">Our Work</h1>
          <div class="columns">
            <div class="column">
              <a href="<%= home_portfolio_path(filtered: 'web') %>" class="image pad-30">
                <img src="<%='img_ref/web_ref.png'%>">
              </a>
              <h3 class="cent">WEBSITE</h3>
            </div>
            <div class="column ">
              <a href="<%= home_portfolio_path(filtered: 'app') %>" class="image pad-30">
                <img src="<%= 'img_ref/mobile_ref.png' %>">
              </a>
              <h3 class="cent">APPLICATION</h3>
            </div>
            <div class="column ">
              <a href="<%= home_portfolio_path(filtered: 'film') %>" class="image pad-30">
                <img src="<%= 'img_ref/prod_ref.png' %>">
              </a>
              <h3 class="cent">FILM/PHOTOGRAPHY</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>-KOH-Studio</strong> by <a href="http://www.kohlife.com">-KOH-Life(thailand).co.ltd. 2016</a>
          </p>
        </div>
      </div>
    </footer -->
  </div>
</div>

<script type="text/javascript">
  Vue.component('modal', {
    template: '#modal-template'
  });

  new Vue({
    el: '#app',
    data: {
      message: 'WE ARE A DIGITAL ARCHITECT COMPANY.',
      choice: 'tab4',
      showModal: false,
      menu: false
    },
    methods: {
      isActive: function(val){
        return this.choice === val ;
      },
      checkActive: function(val){
        this.choice = val
      },
      redirect: function(val){
        window.location = val
      }
    }
  });

  $(function(){
    $(".element").typed({
      strings: ["Hello World.", "We are a DIGITAL ARCHITECT COMPANY."],
      typeSpeed: 20
    });
  });
</script>
