<div class="nav-top-blanket"></div>
<div id="app">
  <hero-slider :slider="sliders" :choice="choice"></hero-slider>
  <header class="nav _nav_affix _add_color" id="nav-affix">
      <h3>tester</h3>
      <div class="columns  super-columns" style="">
        <span class="column" v-for="l in iLinks" v-bind:class="['active']">
          <span>
            <a :href="l.url">{{l.title}}</a>
          </span>
        </span>
      </div>
  </header>
  <br><br>
  <%= @content[:content].html_safe rescue '' %>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/map.js"></script>
<script src="/js/body.js"></script>
<script src="/js/stockir.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/footer_site.js"></script>
<script src="/js/investor.js"></script>
<script src="/js/masonry.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdUSDSheJVPKt2eCrJE1sZEx3cAud_aT0&callback=initMap"> </script>
<script src="/js/app-data.js"></script>
<script type="text/javascript">

  var comp = new Vue({
    el: '#app',
    data: {
      sliders: <%= eval( Configur.first[:home_slider] ).to_json.html_safe rescue '' %> ,
      choice: 'tab1',
      iLinks:[
        { title: 'สถาบันกวดวิชา'   ,action:'' , url: '<%= home_about_path %>' },
        { title: 'Student Gallery'  ,action:'' , url: '<%= home_student_path %>' },
        { title: 'Tutors'        ,action:'' , url: '<%= home_tutor_path %>' },
        { title: 'Top Students'  ,action:'' , url: '<%= home_top_student_path %>' },
      ],
      contents: [
        {icon: 'fa-frown-o' ,title: 'ถ้าน้องๆเรียนที่โรงเรียนไม่รู้เรื่อง', text: 'ถ้าหากเรียนที่โรงเรียนไม่รู้เรื่อง หรือไม่เข้าใจเท่าที่ควร ที่นี่ตอบโจทย์ เพราะเราสอนด้วยความเข้าใจ อธิบายซ้ำและถามได้ตลอดเวลา สอนให้น้องๆทำโจทย์ด้วยความเข้าใจพร้อมกับเทคนิคลัดมากมาย'},
        {icon: 'fa-user-md' ,title: 'ถ้าอยากเพิ่มเกรด อยากสอบติดที่ดีๆ', text: 'ทางเราจะหาข้อสอบใหม่ๆมาอัพเดทอยู่ตลอด เพื่อให้หนังสือของเราทันสมัยและตรงจุดอยู่เสมอ ไม่ว่าจะสอบที่โรงเรียน หรือสอบเข้าที่ต่างๆ เราสอนเด็กทำได้จนเด็กมาพูดให้ฟังว่า “ข้อสอบออกเหมือนที่พี่ๆสอนทั้งนั้นเลย”'},
        {icon: 'fa-child' ,title: 'ถ้าเรียนพิเศษที่ไหนก็เครียดตลอด', text: 'ที่นั่นคงไม่ใช่ที่นี่ เพราะเราจะสอนอย่างมีความสุข ให้เด็กสนุก มีส่วนร่วม และได้ความรู้ไปพร้อมๆกัน เราเป็นกันเอง ดูแลเอาใจใส่ ไม่ต่างจากครอบครัว'},
        {icon: 'fa-tachometer' ,title: 'ถ้าตอนเรียนทำได้ แต่ตอนสอบ ตกตลอด', text: 'นั่นก็เพราะที่เรียนที่อื่นไม่มีการประเมินจุดอ่อนจุดแข็งและหลักการคิดให้น้องๆ ที่นี่เราจะดูแลอย่างใกล้ชิดทุกๆคน โดยเราจะมีการสอบวัดผลเป็นระยะ (บางห้องจะมีเทสก่อนกลับบ้านทุกๆวัน) เพื่อให้น้องได้เติบโตและพัฒนาอย่างต่อเนื่อง'},

        {icon: 'fa-home dark' ,title: 'เดินทางสะดวก ปลอดภัย สวยงาม', text: 'เดินทางสะดวก ไม่ว่าจะรถเมล์ แท๊กซี่ มอเตอร์ไซค์ หรือด้วยรถส่วนตัว ที่จอดรถกว่า 10 คัน และสถานที่เรียนทันสมัย ทำใหม่หมดทั้งโรงเรียน สะอาด ปลอดภัย'},
        {icon: 'fa-slideshare dark' ,title: 'ผู้ปกครองดูตอนน้องเรียนได้', text: 'ทางเราจะมีการติดกล้องวงจรปิดไว้ที่ห้องเรียนทุกห้อง เพื่อผู้ปกครองสามารถสังเกตการเรียนของลูกหลานได้อย่างใกล้ชิด สามารถมานั่งดูที่ห้องพัก หรือจะดูผ่านมือถือได้ทุกๆแห่ง'},
        {icon: 'fa-video-camera dark' ,title: 'ชดเชยไม่อั้น', text: 'หากมีบางครั้งที่จำเป็นต้องทำธุระ ไม่มีคนมาส่ง หรืออาจจะต้องพาน้องๆไปด้วย เพื่อความต่อเนื่องในการเรียน เราจะมีวีดีโออัดไว้ให้ทุกครั้ง สามารถมาดูชดเชยที่ขาดไป หรือทบทวนได้ไม่จำกัดเวลา และไม่มีเสียค่าใช้จ่าย'},
        {icon: 'fa-users dark' ,title: 'คุยกับผู้ปกครองเป็นระยะๆ', text: 'ลูกหลานท่าน ก็ไม่ต่างจากลูกหลานเรา ผู้ปกครองอยากรู้อะไร อยากถามอะไรคุณครู เรามีสายตรงให้คุยกับคุณครูได้ตลอดเวลา รวมถึงตัวคุณครูจะเอาใจใส่บุตรหลานท่านและมีการรายงานเป็นระยะ ว่าน้องตั้งใจไหม เรียนแล้วเป็นยังไง ได้หรือไม่ได้ตรงไหนบ้าง'},
      ]
    },
    mounted: function() {
    }
  });
</script>
