<div class="nav-top-blanket"></div>
<div id="app">
  <header class="nav _nav_affix _add_color" id="nav-affix">
      <div class="columns  super-columns" style="">
        <span class="column" v-for="l in iLinks" v-bind:class="['active']">
          <span>
            <a :href="l.url">{{l.title}}</a>
          </span>
        </span>
      </div>
  </header>
  <br><br>
  <div class="container __body">
    <h1>บรรยากาศการเรียนการสอน</h1>
  </div>
  <div class="container _spiltter _center">
    <img src="<%= image_path 'stu_1.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_2.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_3.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_4.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_5.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_6.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_7.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_8.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'stu_9.jpg' %>" alt="" class="image_brand">
  </div>
</div>
<script type="text/javascript">
var comp = new Vue({
  el: '#app',
  data: {
    iLinks:[
      { title: 'สถาบันกวดวิชา'   ,action:'' , url: '<%= home_about_path %>' },
      { title: 'Student Gallery'  ,action:'' , url: '<%= home_student_path %>' },
      { title: 'Tutors'        ,action:'' , url: '<%= home_tutor_path %>' },
      { title: 'Top Students'  ,action:'' , url: '<%= home_top_student_path %>' },
    ],
  }
});
</script>
