<%= form_for(major) do |f| %>
  <% if major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(major.errors.count, "error") %> prohibited this major from being saved:</h2>

      <ul>
      <% major.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= f.label :name %> -->
    <label for="name">ชื่อวิชา</label>
    <%= f.text_field :name , placeholder: "ชื่อคอร์ส"%>
  </div>

  <div class="field">
    <!-- <%= f.label :major_code %> -->
    <label for="major_code">รหัสตัวย่อของวิชา</label>
    <%= f.text_field :major_code ,placeholder: "ตัวย่ออังกฤษ เช่น MAT, ENG" %>
  </div>
  <br>

  <div class="actions">
    <%= link_to 'Back', majors_path , class: 'btn btn-grey' %>
    <span class="mar-10"></span>

    <% if controller.action_name == 'edit' %>
      <%= link_to 'Show', @major ,class: 'btn-grey'%>
      <span class="mar-10"></span>
    <% end %>
    <input type="submit" value="Submit" class="btn btn-redder">
  </div>
<% end %>
