<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quotation.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @quotation.desc %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
