<div class="admin-block">
  <p id="notice"><%= notice %></p>
  <h1 style="font-size:24px">ปีการศึกษา<%= @current_year %></h1>

  <% @semester_lists.each do |sem| %>
    <div class="label-banner">ภาคการศึกษา / <%= sem.name %></div>
    <div class="_mobile-able _course-detail">
      <% @courses.where(semester: sem.sem_code).each do |cs| %>
        <div class="_course-name"><%= cs.name %></div>
        <% @classrooms.where(course: cs.id).each do |room| %>
          <% classroom_detail = Classroom.details(room)%>
          <div class="_content-detail">
            <div class="_cont">
              <div class="_title"><b><%= room.name %></b></div>
              <div class="_teacher">ผู้สอน - <%= classroom_detail[:teacher] %></div>
              <div class="_student">นักเรียน <%= classroom_detail[:seat] %>คน</div>
              <!-- <%= room.spec %><br> -->
              <div class="__detailss"><%= room.desc.html_safe %></div>
            </div>
            <div class="_action">
              <a class="btn-grey" href="/report/<%= room.id %>">ดูคอร์ส</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <table class="_desktop-able">
      <thead>
        <tr>
          <th>รหัสห้องเรียน</th>
          <th>ชื่อห้องเรียน</th>
          <th>ผู้สอน</th>
          <th>จำนวนนักเรียน</th>
          <th>รายละเอียดคอร์ส</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.where(semester: sem.sem_code).each do |cs| %>
          <tr style=" background: #e8e8e8; color: #101010;">
            <td colspan="8"><%= cs.name %></td>
          </tr>
          <% @classrooms.where(course: cs.id).each do |room| %>
            <% classroom_detail = Classroom.details(room)%>
            <tr class="center-align">
              <td><%= room.spec %></td>
              <td><%= room.name %></td>
              <td><%= classroom_detail[:teacher] %></td>
              <td><%= classroom_detail[:seat] %>คน</td>
              <td><%= room.desc.html_safe %></td>
              <td>
                <a class="btn-grey" href="/report/<%= room.id %>">รายละเอียด</a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>

</div>
