<!-- Comment modal -->
<div class="modal comment-modal">
  <div class="modal-background"></div>
  <form class="modal-card" action="<%= home_add_comment_path %>" method="get">
    <input class="st-id" type="hidden" name="id" value="<%= @classroom.id %>">
    <header class="modal-card-head">
      <p class="modal-card-title">คอมเม้นท์นักเรียน</p>
      <!-- <button class="delete comment-closer"></button> -->
    </header>
    <section class="modal-card-body">
      <input type="hidden" name="classroom" value="">
      <input type="hidden" name="period" value="">
      <input type="hidden" name="student" value="">
      <!-- Content ... -->
      <div class="st-name"></div>
      <div class="st-course" style="">
        <label for="comment" style=" font-size: 14px; display: inline-block;" >ความคิดเห็น</label>
        <input
          type="text" name="comment"
          value="" placeholder="ระบุสาเหตุที่หักคะเเนนจิตพิสัย"
          style="line-height: 32px; min-width: 240px; border-radius: 4px; border: 1px solid gainsboro;padding: 0 9px; margin-left: 8px;">
      </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button comment-closer">ปิด</a>
    </footer>
  </form>
</div>

<div class="admin-block">

  <!-- <div class="">
    <div id="curve_chart" style="width: 100%; height: 300px"></div>
  </div> -->

  <h1 class="_mobi-center">
    ห้องเรียน - <%= @classroom.name %> <br>
    <%= link_to 'ย้อนกลับไปดูคอร์สอื่น', report_index_path , class: 'btn-ner _desktop-able', style: 'margin-left:8px'%>
    <span class="class-period">
      ปัจุบันเรียนครั้งที่ <b><%= @current_period %></b>
    </span>
  </h1>
  <form id="from-score" action="<%= home_update_score_path %>" method="get"  style="overflow: auto">
    <input type="hidden" name="cl" value="<%= @classroom.id %>">
    <table id="main-tab" style="background:#ffffff">
      <thead style="border: 1px solid #dadada;">
        <tr>
          <th class="row-up row-right" rowspan="3">รหัส</th>
          <th class="row-up row-right" rowspan="3">นักเรียน</th>
          <th class="center-div row-rep " colspan="1">รวม</th>
          <% @max_score.each do |mx| %>
            <th colspan="2" class=" center-div row-rep " style="position: relative">
              <%= mx[0] %>
            </th>
          <% end %>
        </tr>
        <tr class="row-head-score">
          <th class="top-input">คะเเนน</th>
          <% @max_score.each_with_index do |mx,i| %>
            <th class="<% if mx[0] == @current_period %> current-row <% end %>">
              <b class="score-mental">10</b>
            </th>
            <th style="" class="top-input <% if mx[0] == @current_period %> current-row <% end %>">
              <b class="score-point"><%= mx[1] rescue 10 %></b>
            </th>
          <% end %>
        </tr>
        <tr class="row-head-score">
          <th class="">สอบ</th>
          <% @max_score.each_with_index do |mx,i| %>
            <th class="<% if mx[0] == @current_period %> current-row <% end %>">ขยัน</th>
            <th class="<% if mx[0] == @current_period %> current-row <% end %>">สอบ</th>
          <% end %>
        </tr>
      </thead>

      <tbody class="table-body" style="">
        <% @seat_sort.each do |seat| %>
          <% if Student.where(student_code: seat[:student]).count > 0 %>
            <% student  = Student.details(Student.code(seat[:student])) %>
            <% score_param = {classroom: @classroom.id, student: seat[:student] ,exam_type: 'scoring'}%>
            <% mental_param = {classroom: @classroom.id, student: seat[:student] ,exam_type: 'mental'}%>
            <% if Exam.where(score_param).count > 0 %>
              <% score_ex = JSON.parse(Exam.where(score_param).first['score']) %>
            <% else %>
              <% score_ex = '' %>
            <% end %>
            <% if Exam.where(mental_param).count > 0 %>
              <% mental_ex = JSON.parse(Exam.where(mental_param).first['score']) %>
            <% else %>
              <% mental_ex = '' %>
            <% end %>
            <% seat_detail = Seat.seat_detail(seat)%>
              <tr class="first-left" style="">
                <td class="row-right row-left">
                  <%= seat[:student] %>
                  <span class="fixed-column" style="">
                  <%= seat[:student] %>
                   </span>
                </td>
                <td class="row-right">
                  <%= "#{student[:name]} (#{student[:grade]})" %> <br>
                  <%= student[:school] %>
                </td>
                <td class="row-right row-center row-score row-for-ment" style="background: #f3f3f3;text-decoration: underline;">
                  <%= find_score(params[:id],seat[:student]) %>
                </td>
                <div class="">
                  <% @max_score.each_with_index do |mx,i| %>
                    <td class="row-right row-center row-score row-for-ment <% if mx[0] == @current_period %> current-row <% end %>">
                      <span
                        <% if mental_ex[mx[0]].to_i < 10 && mental_ex[mx[0]] != '-' %>
                          style="color: red; cursor: pointer"
                          class="ment"
                          classroom="<%= @classroom.id %>"
                          period="<%= mx[0] %>"
                          student="<%= student[:id] %>"
                        <% end %>
                        >
                        <%= mental_ex[mx[0]] %>
                      </span>
                    </td>
                    <!-- input score point -->
                    <td class="row-right row-center row-score <% if mx[0] == @current_period %> current-row <% end %>">
                      <%= score_ex[mx[0]] %>
                    </td>
                  <% end %>
                </div>


              </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </form>

  <p id="notice"><%= notice %></p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    // fixed column trigger
    var fixed_awake = 100 ;

    alert('hola');

    $("#from-score").scroll(function(){
      //
      marginLeft = $(this).scrollLeft();
      //
      if (marginLeft > fixed_awake) {
        $('.fixed-column').css("display","flex");
        $('.fixed-column').css("margin-left", marginLeft - 3 );
      }else{
        $('.fixed-column').css("display","none");
      }
    });



    // add comment
    $('.ment').on('click', function(){
      var period = $(this).attr('period');
      var classroom = $(this).attr('classroom');
      var student = $(this).attr('student');
      // alert( classroom + "/" + period + "/" + student);
      $("input[name='classroom']").val(classroom);
      $("input[name='period']").val(period);
      $("input[name='student']").val(student);
      $("input[name='comment']").val("");
      $('.comment-modal').addClass('is-active');
      // get comment detail
      $.ajax({
				url: '<%= init_get_comment_req_path %>',
        data: {
          classroom: classroom,
          student: student,
          period: period
        },
				success: function(response){
          // alert(JSON.stringify(response));
          $("input[name='comment']").val(response.comment);
				},
        error: function (textStatus, errorThrown) {
          $("input[name='comment']").val("ไม่ตั้งใจเรียน");
        }
			});
    });

    $('.comment-closer').on('click',function(){
      $('.comment-modal').removeClass('is-active');
    });
  });
</script>

<!--Load CHART GOOGLE-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Date', 'Sales'],
      ["1", 1000],
      ["2", 1000],
      ["3", 1000],

    ]);

    var options = {
      title: '',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.AreaChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
  }
</script>
