<style media="screen">
  .form-maker.minifier .field{
    line-height: 34px;
    margin-bottom: 0;
  }
</style>

<!-- Gchart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="admin-block">
  <h1> บัตรนักเรียน </h1>
  <div class="form-maker minifier">
    <form class="" action="index.html" method="post">
      <div class="field">
        <label class="sub-title" for="">ชื่อ-นามสกุล: </label>
        <span><%= @student[:name] %> (<%= @student[:nickname] %>)</span>
      </div>
      <div class="field">
        <label class="sub-title" for="">เพศ: </label>
        <span><%= @student[:gender] %></span>
      </div>
      <div class="field">
        <label class="sub-title" for="">ชั้นปี: </label>
        <span><%= @student[:grade] %></span>
      </div>
      <div class="field">
        <label class="sub-title" for="">โรงเรียน: </label>
        <span><%= @student[:school] %></span>
      </div>
      <div class="field">
        <label class="sub-title" for="">ผู้ปกครอง: </label>
        <span><%= @student[:parent_name] %></span>
      </div>
      <div class="field">
        <label class="sub-title" for="">เบอร์ติดต่อ: </label>
        <span><%= @student[:phone] %></span>
      </div>
      <div class="field">
        <label class="sub-title" for="">วันเกิด: </label>
        <span><%= @student[:birthday] %></span>
      </div>
    </form>
  </div>
</div>
<br>
<div class="admin-block">
  <h1>วิชาที่น้องลงทะเบียน <%= @register_course.count %>คอร์ส <%= @register_class.count %>ชั้นเรียน <%= @current_semester %></h1> <br>
  <% @register_course.each do |rc| %>
    <!--  -->
    <h2 class="course-title" style="">
      คอร์ส
    <%= rc.name %></h2>
    <!--  -->
    <% @register_class.where(course: rc.id).each do |rcl| %>
      <span class="course-name" style="">
        <%= rcl.name %>
      </span>
    <% end %>
    <hr>
  <% end %>
</div>
<br>
<div class="admin-block">
  <h1> คะเเนนสอบวิชาในเทอมปัจุบัน </h1> <br>
  <% @seat.each do |seat| %>
    <!-- keys of session -->
    <% key_sessions = seat[:session].keys %>
    <% label_session = [] %>
    <% your_score    = [] %>
    <% key_sessions.each do |key| %>
      <% label_session << "ครั้งที่ #{key}" %>
    <% end %>
    <!--  -->
    <div class="" style="position: relative">
      <h3 class="h-class" style=""><%= "#{seat[:classroom]}" %></h3>
      <canvas class="line-chart" id="line-chart-<%= seat[:id] %>"></canvas>
    </div>
    <br>
    <!--  -->
    <script type="text/javascript">
    // get DOM
    var ctx = document.getElementById("line-chart-<%= seat[:id] %>");
    var chartData = {
      type: 'line',
      data: {
        labels: <%= label_session.to_json.html_safe %>,
        datasets: [{
          data: <%= seat[:score_point].to_json.html_safe %>,
          dataDraft: <%= seat[:draft_point].to_json.html_safe %>,
          label: "คะเเนนที่ได้",
          borderColor: "#d22226",
          lineTension: 0.05,
          pointRadius: 4,
          pointBackgroundColor: "#d22226",
          backgroundColor: "#d22226",
          fill: false,
        },{
          data: <%= seat[:min_point].to_json.html_safe %>,
          borderDash: [6,2],
          borderWidth: 0.6,
          label: "ต่ำสุด",
          borderColor: "#9c9c9c",
          lineTension: 0.05,
          fill: "+2",
          backgroundColor: "#ffffff",
          pointBackgroundColor: "#bfb9b963",
        },{
            data: <%= seat[:max_point].to_json.html_safe %>,
            borderDash: [6,2],
            borderWidth: 0.6,
            label: "สูงสุด",
            borderColor: "#9c9c9c",
            backgroundColor: "#bfb9b963",
            lineTension: 0.05,
            fill: "+2"
          }
        ]
      },
      options: {
        title: { display: true },
        legend: {position: 'bottom'},
        tooltips: {
          "enabled": false
        },
        "animation": {
          "duration": 1,
          "onComplete": function() {
            var chartInstance = this.chart,
              ctx = chartInstance.ctx;
              ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
              ctx.textAlign = 'center';
              ctx.textBaseline = 'bottom';
              this.data.datasets.forEach(function(dataset, i) {
                if (i == 0) {
                  var meta = chartInstance.controller.getDatasetMeta(i);
                  meta.data.forEach(function(bar, index) {
                    var data = dataset.dataDraft[index];
                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                  });
                }

              });
          }
        },
      }
    }
    // create lineChart
    new Chart(ctx, chartData );
    </script>
  <% end %>
</div>
