<%= form_for(teacher) do |f| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="nickname">ชื่อเล่น</label>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <label for="name">ชื่อ</label>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <label for="surname">นามสกุล</label>
    <%= f.text_field :surname %>
  </div>

  <br>
  <h3 class="hr-cer">ประวัติการศึกษา</h3>
  <div class="field">
    <label for="graduate">เรียนจบจาก</label>
    <%= f.text_field :graduate %>
  </div>

  <div class="field">
    <label for="major">สาขา</label>
    <%= f.text_field :major %>
  </div>

  <div class="field">
    <label for="gpa">เกรดเฉลี่ย</label>
    <%= f.text_field :gpa %>
  </div>

  <br>
  <h3  class="hr-cer">ข้อมูลติดต่อ</h3>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <label for="tel">เบอร์โทรศัพท์</label>
    <%= f.text_field :tel %>
  </div>

  <div class="field">
    <%= f.label :line %>
    <%= f.text_field :line %>
  </div>

  <div class="field">
    <%= f.label :facebook %>
    <%= f.text_field :facebook %>
  </div>

  <br>
  <h3  class="hr-cer">โน้ตบันทึก</h3>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note , class: 'textarea-for-cms' %>
  </div>


  <div class="actions">
    <%= link_to 'Back', teachers_path , class: 'btn btn-grey' %>
    <span class="mar-10"></span>
    <input type="submit" value="Submit" class="btn btn-redder">
  </div>
<% end %>
