<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    Teachers - <%= Teacher.count_all %> คน
    <%= link_to 'New Teacher', new_teacher_path , class: 'btn-ner'%>
  </h1>

  <table>
    <thead>
      <tr>
        <th>ชื่อ-นามสกุล</th>
        <th>วิชาที่สอน</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Note</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @teachers.each do |teacher| %>
        <% teacher_detail = Teacher.details(teacher) %>
        <tr>
          <td>พี่<%= teacher.nickname %> - <%= teacher.name %> </td>
          <td>
            <div class="t-course">
            <% teacher_detail[:classroom].each do |classs| %>
              <%= classs %><br>
            <% end %>
            (<%= teacher_detail[:classroom].count %> วิชา)
            </div>
          </td>
          <td><%= teacher_detail[:email] %></td>
          <td><%= teacher_detail[:tel] %></td>
          <td style="max-width: 140px"><%= teacher.note.html_safe rescue '-' %></td>
          <td>
            <%= link_to 'รายละเอียด', edit_teacher_path(teacher) ,class: 'btn-redder' %>
            <%= link_to 'ลบทิ้ง', teacher, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn-grey' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
