<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    Teachers - <%= Teacher.count_all %> คน
    <%= link_to 'New Teacher', new_teacher_path , class: 'btn-ner'%>
  </h1>

  <table>
    <thead>
      <tr>
        <th>ชื่อ-นามสกุล</th>
        <th>วิชาที่สอน</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Line</th>
        <th>Facebook</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @teachers.each do |teacher| %>
        <% teacher_detail = Teacher.details(teacher) %>
        <tr>
          <td><%= teacher.name %> (<%= teacher_detail[:classroom].count %> วิชา)</td>
          <td>
            <% teacher_detail[:classroom].each do |classs| %>
              <div class="t-course"><%= classs %><br></div>
            <% end %>
          </td>
          <td><%= teacher_detail[:email] %></td>
          <td><%= teacher_detail[:tel] %></td>
          <td><%= teacher_detail[:line] %></td>
          <td><%= teacher_detail[:facebook] %></td>
          <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
          <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
