<div class="__content-info __booking-right _mobi-show">
  <div class="admin-block _flexer bottom-mobi-10">
    <div class="_flex">
      <h2 class="_title">น้อง<%= @student[:nickname] %></h2>
      <h2>
        <%= @student[:name] %> <%= @student[:nickname] %> |
        <%= @student[:school] %>
      </h2>
    </div>

    <div>
      <a class="btn submit btn-redder" href="<%= booking_session_login_path %>"> Logout </a>
    </div>
  </div>
</div>

<div class="__content_padding __booking-left">
  <div class="admin-block bottom-mobi-10">
    <p id="notice"><%= notice %></p>
    <h1 style="font-size:24px">รายการจองห้องคอมของคุณสำเร็จ</h1>
    <div class="form-maker _leave-padding">
      <form class="" action="<%= report_check_student_trigger_path %>" method="get">
        <% @course_schedules.each_with_index do |schedule,index| %>
          <div class="_mobi-show _mobi-card">
            <div class="_flex">
              <p class="_big-text"><%= schedule.attend_start.strftime("%d /%b /%Y") %></p>
              <p>
                Computer#<%= schedule.attend_seat%>
              </p>
              <p><%= Classroom.find(schedule.course).name %></p>
              <p><%= schedule.attend_start.strftime("%H:%M") %> - <%= schedule.attend_finish.strftime("%H:%M") %></p>
              <p class="_red-text">REF CODE: <%= schedule.ref_code %></p>
            </div>
            <div class="_action">
              <%= link_to "ดูตาราง", booking_calendar_path(date: schedule.attend_start.strftime('%Y-%m-%d') , student_id: schedule.student_id ) , target: "_blank" , class: 'btn-redder'%> <br>
              <%= link_to "ยกเลิกรายการนี้", booking_destroy_schedule_path( :schedule => schedule.id ),method: :get, data: { confirm: 'คุณต้องการยกเลิกรายการนี้ ใช่ไหม?' } , class: '_cancel-button _mini-size'%>
            </div>
          </div>
        <% end %>

        <table class="_desktop-show">
          <thead class="_desktop-show">
            <tr>
              <th>รายการ</th>
              <th>วันที่จะเข้าเรียน</th>
              <th>เวลา </th>
              <th>Codeสำหรับเจ้าหน้าที่</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="_desktop-show">
            <% @course_schedules.each_with_index do |schedule,index| %>
              <tr>
                <td class="_desktop-show">รายการ<%= index + 1 %></td>
                <td class="_desktop-show">
                  <%= schedule.attend_start.strftime("%d/%b/%Y") %> <br>
                  Computer#<%= schedule.attend_seat %>.
                </td>
                <td class="_desktop-show">
                  <%= schedule.attend_start.strftime("%H:%M") %> -
                  <%= schedule.attend_finish.strftime("%H:%M") %>
                  </td>
                <td class="_desktop-show">
                  <%= Classroom.find(schedule.course).name %> <br>
                  <%= schedule.ref_code %>
                </td>
                <td class="_desktop-show">
                  <a
                    name="<%= @student[:nickname] %>"
                    course="<%= Classroom.find(schedule.course).name %>"
                    date="<%= schedule.attend_start.strftime("%d/%b/%Y") %>"
                    time='<%= "#{schedule.attend_start.strftime("%H:%M")} - #{schedule.attend_finish.strftime("%H:%M")}" %>'
                    computer="<%= schedule.attend_seat %>"
                    reference="<%= schedule.ref_code %>"
                    class="onClick"
                    href="#">
                    เช็คอิน
                  </a>

                  <% if @time_now < (schedule.attend_start - 3.hours) %>
                    <%= link_to "ยกเลิกรายการนี้", booking_destroy_schedule_path( :schedule => schedule.id ),method: :get, data: { confirm: 'คุณต้องการยกเลิกรายการนี้ ใช่ไหม?' } , class: '_cancel-button'%>
                  <% end %>
                </td>
                <td class="_desktop-show">
                  <%= link_to "ดูตารางเรียน", booking_calendar_path(date: schedule.attend_start.strftime('%Y-%m-%d') , student_id: schedule.student_id ) , target: "_blank" , class: 'btn-redder'%> <br>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <a href="/booking/index" class="btn submit btn-redder">ทำรายการเพิ่ม</a>
        <hr>
        <div class="">
          <label for="">หมายเหตุ</label>
          <ol class="__remark-ol">
            <li>การยกเลิกเเต่ละรายการสามารถกด "ยกเลิกได้เอง" เเละควรยกเลิกอย่างน้อยก่อนเวลาเรียนจริง "3ชั่วโมง" เพื่อให้สิทธิ์เพื่อนคนอื่นๆ เข้ามาจองได้"</li>
            <li>หากเหลือเวลาไม่ถึง 3ชั่วโมงก่อนเวลาเรียน จะไม่สามารถกดยกเลิกได้</li>
            <li>ไม่ควรมาสาย</li>
            <li>กดดูตารางห้องคอมได้ที่นี่ <a target="_blank" href="<%= booking_calendar_path %>" class="btn submit btn-redder">ดูตารางห้องคอม</a> </li>
          </ol>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="__content-info __booking-right _desktop-show">
  <div class="admin-block bottom-mobi-10">
    <h1>ข้อมูล</h1>
    <div class="form-maker __left-null">
      <label for="">ชื่อเล่น</label>
      <h2/>น้อง<%= @student[:nickname] %></h2/>
      <br>
      <label for="">ชื่อจริง</label>
      <h3/><%= @student[:name] %> <%= @student[:nickname] %></h3/>
      <br>
      <label for="">โรงเรียน</label>
      <h3/><%= @student[:school] %></h3/>
    </div>
    <hr>
    <div>
      <a class="btn submit btn-redder" href="<%= booking_session_login_path %>"> ออกจากระบบ </a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    function popupPush(data){
    swal({
        title: '<strong>'+ data.title +'</strong>',
        type: 'success',
        showCloseButton: true,
        focusConfirm: false,
        confirmButtonText:
          '<i class="fa fa-thumbs-up"></i> ตกลง!',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        html:
          'ระบบได้ลงทะเบียนการจองให้น้อง <b>'+ data.student +'</b> เเล้ว <br>' +
          'เรียนวิชา <b>'+ data.course +'</b> คอมพิวเตอร์เครื่องที่ <b>'+ data.computer +'</b><br>' +
          'วันที่ <b>'+ data.date +'</b> ช่วงเวลา <b>'+ data.time +'</b><br>' +
          'หมายเลขรหัสการจอง <b>'+ data.reference +'</b><br>',
      })
    }

    //
    <% if params[:booked].present? %>
      var data = {
        title: 'การจองสำเร็จ',
        student: '<%= @name %>',
        course: '<%= @course %>',
        date: '<%= @date %>',
        time: '<%= @time %>',
        computer: '<%= @seat %>',
        reference: '<%= params[:reference] %>'
      }
      popupPush(data)
    <% end %>

    // interact swal checkin
    $('.onClick').on('click',function(){
      var setData = {
      title: 'เช็คอินการจอง',
      student: $(this).attr( "name" ),
      course: $(this).attr( "course" ),
      date: $(this).attr( "date" ),
      time: $(this).attr( "time" ),
      computer: $(this).attr( "computer" ),
      reference: $(this).attr( "reference" )
      }
      popupPush(setData)
    })
  })




</script>
