<div class="admin-block bottom-mobi-10">
  <p id="notice"><%= notice %></p>
  <h1 style="font-size:24px">ยินดีต้อนรับสู่ระบบ การจองห้องคอม</h1>
  <div class="form-maker">
    <form class="" action="<%= booking_add_course_path %>" method="get">
      <input type="hidden" name="student_id" value="0248015">
      <div class="field">
        <label for="">กดเพื่อดูตารางการของห้องได้</label>
        <button type="button" name="button">ดูตารางห้องคอม</button>
      </div>
      <div class="field">
        <label for="">
          ยืนยันว่า วิดิโอที่จะมาดูผ่านการเรียนรอบสดมา 48ชั่วโมงเเล้ว
          <br>
          <input type="checkbox" name="commited"> ยืนยัน
          <span class="__danger">(*** หากไม่กดยืนยันจะไม่สามารถจองห้องคอมได้ ***)</span>
        </label>
      </div>
      <hr>
      <div class="field">
        <label class="__book-gap" for="">คอร์สเรียน</label>
        <select class="" name="course">
          <option value="M101">MATH 101</option>
          <option value="M102">MATH 102</option>
          <option value="M103">MATH 103</option>
          <option value="M104">MATH 104</option>
        </select>
      </div>
      <div class="field">
        <label class="__book-gap" for="">
          คอร์สสดสอนในวันที่
          <span class="__danger">**</span>
        </label>
        <input type="date" name="live_date" value="" max="<%= @date_now %>">
      </div>
      <hr>
      <div class="field">
        <label class="__book-gap" for="">
          วันที่จะเข้ามาเรียนเสริม
          <span class="__danger">**</span>
        </label>
        <input type="date" name="attend_start_date" value="" min="<%= @date_tomorrow %>">
      </div>
      <div class="field _attend_time">
        <label class="__book-gap" for="">ช่วงเวลาที่เริ่มเรียน</label>
        <select class="" id="start_time" name="attend_start_time">
        </select>
      </div>
      <div class="field _attend_duration_time">
        <label class="__book-gap" for="">จำนวนชั่วโมงที่ต้องการจอง</label>
        <select class="" name="attent_hour" id="duration_hour">
        </select>
      </div>
      <div class="field _attend_seat">
        <label class="__book-gap" for="">เลือกเครื่องคอม</label>
        <select class="" name="attend_seat">
          <% @render_seat.each do |render| %>
            <option value="<%= render[:value] %>">
              <%= render[:option] %>
            </option>
          <% end %>
        </select>
      </div>
      <hr>
      <div class="field">
        <label class="__book-gap" for="attend_reason">เหตุผลการจองห้องคอม</label>
        <select class="" name="attend_reason">
          <option value="r1">เรียนเสริมในคอร์สที่ขาด</option>
          <option value="r2">เรียนปรับพื้นฐาน</option>
          <option value="r3">เรียนซ้ำ</option>
          <option value="r4">ขยัน</option>
        </select>
      </div>
      <br>
      <table>
        <thead>
          <tr>
            <th>ช่วงวันที่เรียน</th>
            <th>สัปดาห์ที่</th>
          </tr>
        </thead>
        <tbody>
        <% @time_table.each do |table| %>
          <tr>
            <td><%= table[:text]%></td>
            <td>Week <%= table[:week]%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <br>
      <input type="submit" value="ยืนยันการจอง" class="btn submit btn-redder">
    </form>
  </div>
</div>
<div class="desktop-show">
  <br><br>
</div>

<script>
  // Validator on loaded
  <% if params[:valid] === 'false' %>
    alert("น้องจองคอมเครื่องที่ <%= params[:seat]%> ช่วงวันที่ <%= params[:date] %> เวลา <%= params[:time] %> \nขณะนี้คอมไม่ว่างเเล้ว ไม่สามารถจองเครื่องคอมได้ค่ะ \nกรุณาตรวจสอบตารางห้องคอมก่อนเลือกจองเวลาเรียน ... " )
  <% end %>
  <% if params[:input] === 'false' %>
    alert("<%= @param_log %>")
  <% end %>

  // Jquery on ready
  $(document).ready(function() {
    $("._attend_seat").hide();
    $("._attend_time" ).hide();
    $("._attend_duration_time").hide();

    // append time checkup by date
    $('input[name=attend_start_date]').change(function() {
      const pick = new Date(this.value).getDay();
      $("._attend_seat").show();
      $( "._attend_time" ).show();
      $( "._attend_duration_time").show();
      if (pick === 6 || pick === 0){
        $( "#start_time" ).find('option').remove();
        $( "#duration_hour" ).find('option').remove();
        $( "#start_time" ).append( '<% @render_option_weekend.each do |render| %><option value="<%= render[:value] %>"><%= render[:option] %></option><% end %>' );
      }else{
        $( "#start_time" ).find('option').remove();
        $( "#duration_hour" ).find('option').remove();
        $( "#start_time" ).append( '<% @render_option_workday.each do |render| %><option value="<%= render[:value] %>"><%= render[:option] %></option><% end %>' );
      }
      $( "#duration_hour" ).append( '<% @render_duration.each do |render| %><option value="<%= render[:value] %>"><%= render[:option] %></option><% end %>' );
    });
    // append duration options
    $('select[name=attend_start_time]').on('change', function() {
      var value      = $(this).val();
      var lastValue  = $(this).find('option:last-child').val();
      const diff     = (lastValue - value)/60
      const diffHour = Math.floor(diff) ;
      const diffHalf = diff % 1 * 2 ;
      const mapper   = new Array( diffHour );
      // Clear and add new options
      $( "#duration_hour" ).find('option').remove();
      $( "#duration_hour" ).append('<option value="30">30 นาที</option>');
      // add half options
      // if(diffHalf == 1){
      //   const add = {text: '30 นาที',val: 30};
      //   $( "#duration_hour" ).append('<option value="'+ add.val +'">'+ add.text +'</option>');
      // }
      // add hour options
      for(var i=0;i<mapper.length && i < 6;i++){
        const hour = i + 1 ;
        const add  = {option: hour + ' ชั่วโมง',val: hour * 60};
        $( "#duration_hour" ).append('<option value="'+ add.val +'">'+ add.option +'</option>');
      }
    });
  });
</script>
