<% week_day     = Date.today.wday %>
<% current_hour = Time.now.strftime("%k").to_i %>
<% current_min  = Time.now.strftime("%M").to_i  %>
<% current_time = (current_hour * 60) + current_min%>
<%# 780 = 13.00 , 1170 = 19.30 %>
<% min_limit = 780 %>
<% max_limit = 1170 %>
<% if false %>
  <div  class="admin-block" style="
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #52525299;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 31px;">
    <div style="
      width: 320px;
      padding: 20px;
      background: white;
      border-radius: 7px;
      margin-top: -60px;
      text-align: center;">
      <div style="color: #2d2d2d; font-size: 16px;">
        ไม่สามารถจองห้องคอมได้ ณ เวลานี้  <br />
        ระบบจะเปิดให้จองคอมตั้งเเต่เวลา <br />
        <b>13.00 - 19.30 น. วันจันทร์ - ศุกร์</b>
      </div>
      <a href="/" class="btn submit btn-redder">กลับหน้าเเรก</a>
    </div>
  </div>
<% end %>

<div class="__content-info __booking-right _mobi-show">
  <div class="admin-block _flexer bottom-mobi-10">
    <div class="_flex">
      <h2 class="_title">น้อง<%= @student[:nickname] %></h2>
      <h2>
        <%= @student[:name] %> <%= @student[:nickname] %> |
        <%= @student[:school] %>
      </h2>
    </div>
    <div>
      <a class="btn submit btn-redder" href="<%= booking_session_login_path %>"> Logout </a>
    </div>
  </div>
</div>

<div class="admin-block _mobi-show _button-fuller">
  <a class="btn btn-redder" href="<%= booking_finish_path %>">
    รายการจองห้องคอมของฉัน
  </a>
</div>


<div class="__content_padding __booking-left">
  <div class="admin-block bottom-mobi-10">
    <p id="notice"><%= notice %></p>
    <h1 style="font-size:24px">ยินดีต้อนรับสู่ระบบ การจองห้องคอม</h1>
    <div class="form-maker">
    <form action="<%= booking_add_course_path %>" method="get" onsubmit="return confirm('กรอกข้อมูลครบถ้วน เเละยืนยันการจองใช่ไหม?');">
      <input type="hidden" name="student_id" value="<%= session[:student_id] %>">
      <div class="field">
        <label for="">กดเพื่อดูตารางการของห้องได้</label>
        <a target="_blank" href="<%= booking_calendar_path%>" class="btn submit btn-redder">ดูตารางห้องคอม</a>
      </div>
      <div class="field">
        <label for="">
          ยืนยันว่า วิดิโอที่จะมาดูผ่านการเรียนรอบสดมา 48ชั่วโมงเเล้ว
          <br>
          <input type="checkbox" name="commited"> ยืนยัน
          <span class="__danger">(*** หากไม่กดยืนยันจะไม่สามารถจองห้องคอมได้ ***)</span>
        </label>
      </div>
      <div style="padding: 10px 28px; border-radius: 7px;background: #fff0f0; max-width: 720px; margin: auto;">
        <span style="font-size: 14px; color: #d11d1b;">
          *** เพื่อป้องกันการจองซ้ำซ้อนที่นั่งในช่วงเวลาเดียวกัน(จองโต๊ะแบบเเยกร่าง) ทางโรงเรียนจะขอสงวนสิทธิ์ ไม่ให้น้องสามารถกดจองวิชาเรียนซ้ำ "ในช่วงเวลาเดียวกัน" นะคะ ***
        </span>
      </div>

      <hr>

      <% if @register_course.count > 0 %>
        <div class="field">
          <label class="__book-gap" for="">ห้องเรียน</label>
          <select class="" name="course">
            <% @register_course.each do |reg| %>
              <option value="<%= reg[:id]%>">
                <%= reg[:name]%>
              </option>
            <% end %>
          </select>
        </div>
        <div class="field">
          <label class="__book-gap" for="">
            คอร์สสดสอนในวันที่
            <span class="__danger">**</span>
          </label>
          <input type="date" name="live_date" value="" max="<%= @date_next_2_week %>">
        </div>
        <hr>
        <div class="field">
          <label class="__book-gap" for="">
            วันที่จะเข้ามาดูวิดิโอ
            <span class="__danger">**</span>
          </label>
          <input type="date" name="attend_start_date" value="<%= @book_at %>" min="<%= @date_now %>">
        </div>
        <div class="field _attend_time">
          <label class="__book-gap" for="">ช่วงเวลาที่เริ่มเรียน</label>
          <select class="" id="start_time" name="attend_start_time">
          </select>
        </div>
        <div class="field _attend_duration_time">
          <label class="__book-gap" for="">จำนวนชั่วโมงที่ต้องการจอง</label>
          <select class="" name="attent_hour" id="duration_hour">
          </select>
        </div>
        <hr>
        <div class="field">
          <label class="__book-gap" for="attend_reason">เหตุผลการจองห้องคอม</label>
          <select class="" name="attend_reason">
            <% BookingReason.all.each do |reason| %>
              <option value="<%= reason.reason %>"><%= reason.reason %></option>
            <% end %>
          </select>
        </div>
      <% else %>
        <h3>คุณยังไม่มีคอร์สที่ลงทะเบียนไว้ในเทอมนี้</h3>
      <% end %>
      <br>
      <table>
        <thead>
          <tr>
            <th>ช่วงวันที่เรียน</th>
            <th>สัปดาห์ที่</th>
          </tr>
        </thead>
        <tbody class="_normal-body">
        <% BookingWeek.all.each do |table| %>
          <tr>
            <td><%= table[:title]%></td>
            <td>Week <%= table[:week]%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <br>
      <% if @register_course.count > 0 %>
        <input type="submit" value="ยืนยันการจอง" class="btn submit btn-redder">
      <% end %>
    </form>
  </div>
  </div>
</div>
<div class="__content-info __booking-right _desktop-show">
  <div class="admin-block bottom-mobi-10">
    <h1>ข้อมูล</h1>
    <div class="form-maker __left-null">
      <label for="">ชื่อเล่น</label>
      <h2/>น้อง<%= @student[:nickname] %></h2/>
      <br>-
      <label for="">ชื่อจริง</label>
      <h3/><%= @student[:name] %> <%= @student[:nickname] %></h3/>
      <br>
      <label for="">โรงเรียน</label>
      <h3/><%= @student[:school] %></h3/>
    </div>
    <hr>
    <a class="btn submit btn-grey" href="<%= booking_finish_path %>"> รายการจองห้องคอมของฉัน </a>
    <hr>
    <div>
      <a class="btn submit btn-redder" href="<%= booking_session_login_path %>"> ออกจากระบบ </a>
    </div>
  </div>
</div>

<script>
  // Validator on loaded
  <% if params[:valid] === 'false' %>
    alert("น้องจองคอมเครื่องที่ <%= params[:seat]%> ช่วงวันที่ <%= params[:date] %> เวลา <%= params[:time] %> \nขณะนี้คอมไม่ว่างเเล้ว ไม่สามารถจองเครื่องคอมได้ค่ะ \nกรุณาตรวจสอบตารางห้องคอมก่อนเลือกจองเวลาเรียน ... " )
  <% elsif params[:valid] === 'duplicated' %>
    alert("น้องจองคอมเครื่องที่ <%= params[:seat]%> ช่วงวันที่ <%= params[:date] %> เวลา <%= params[:time] %> \nเนื่องจากน้องได้จอมคอมในช่วงเวลานี้ไปเเล้วจึง ไม่สามารถจองเครื่องคอมได้ค่ะ \nกรุณาตรวจสอบตารางห้องคอมก่อนเลือกจองเวลาเรียน ... " )
  <% end %>
  <% if params[:input] === 'false' %>
    alert("<%= @param_log %>")
  <% end %>

  // Jquery on ready
  $(document).ready(function() {
    function pickupAppend(date){
      const pick = new Date(date).getDay();
      $("._attend_seat").show();
      $( "._attend_time" ).show();
      $( "._attend_duration_time").show();
      if (pick === 4 || pick === 0){
        $( "#start_time" ).find('option').remove();
        $( "#duration_hour" ).find('option').remove();
        $( "#start_time" ).append( '<% @render_option_weekend.each do |render| %><option value="<%= render[:value] %>"><%= render[:option] %></option><% end %>' );
      }else{
        $( "#start_time" ).find('option').remove();
        $( "#duration_hour" ).find('option').remove();
        $( "#start_time" ).append( '<% @render_option_workday.each do |render| %><option value="<%= render[:value] %>"><%= render[:option] %></option><% end %>' );
      }
      $( "#duration_hour" ).append( '<% @render_duration.each do |render| %><option value="<%= render[:value] %>"><%= render[:option] %></option><% end %>' );
    }

    // hide everything
    $("._attend_seat").hide();
    $("._attend_time" ).hide();
    $("._attend_duration_time").hide();

    // check param[:book_at] before append
    if("<%= @book_at %>" != '' ){
      pickupAppend("<%= @book_at %>")
    }

    // append time checkup by date
    $('input[name=attend_start_date]').change(function() {
      pickupAppend(this.value)
    });
    // append duration options
    $('select[name=attend_start_time]').on('change', function() {
      var value      = $(this).val();
      var lastValue  = $(this).find('option:last-child').val();
      const diff     = (lastValue - value)/60
      const diffHour = Math.floor(diff) ;
      const diffHalf = diff % 1 * 2 ;
      const mapper   = new Array( diffHour );
      const maxHour  = 4;
      // Clear and add new options
      $( "#duration_hour" ).find('option').remove();
      $( "#duration_hour" ).append('<option value="30">30 นาที</option>');
      // add half options
      // if(diffHalf == 1){
      //   const add = {text: '30 นาที',val: 30};
      //   $( "#duration_hour" ).append('<option value="'+ add.val +'">'+ add.text +'</option>');
      // }
      // add hour options
      for(var i=0;i<mapper.length && i < maxHour;i++){
        const hour = i + 1 ;
        const add  = {option: hour + ' ชั่วโมง',val: hour * 60};
        const add_half = {option: hour + ' ชั่วโมง 30นาที',val: (hour + 0.5) * 60};
        $( "#duration_hour" ).append('<option value="'+ add.val +'">'+ add.option +'</option>');
        if(hour < maxHour){
          $( "#duration_hour" ).append('<option value="'+ add_half.val +'">'+ add_half.option +'</option>');
        }

      }
    });
  });
</script>
