<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="name">กรอกชื่อคอร์ส</label>
    <%= f.text_field :name ,placeholder: 'ชื่อคอร์ส' %>
  </div>

  <div class="field">
    <label for="semester">ปีการศึกษา</label>
    <select class="" name="course[semester]">
      <% Semester.all.each do |s|%>
        <option value="<%= s[:sem_code] %>"
          <% if course[:semester] == s[:sem_code] %>selected<% end %>
          >
          <%= s[:name] %>
        </option>
      <% end %>
    </select>
  </div>

  <!-- <div class="field">
    <label for="major">เลือกวิชาที่สอน</label>
    <select id="major" name="course[major]">
      <% Major.all.each do |m| %>
        <option
          value="<%= m[:major_code] %>"
          <% if course[:major] == m[:major_code] %> selected <% end %>
          >
          <%= m[:name] %>
        </option>
      <% end %>
    </select>
  </div> -->

  <div class="field">
    <label for="grade">ชั้นปี</label>
    <select id="grader" name="course[grade]">
      <option value="1">ป.1</option>
      <option value="2">ป.2</option>
      <option value="3">ป.3</option>
      <option value="4">ป.4</option>
      <option value="5">ป.5</option>
      <option value="6">ป.6</option>
      <option value="7">ม.1</option>
      <option value="8">ม.2</option>
      <option value="9">ม.3</option>
      <option value="10">ม.4</option>
      <option value="11">ม.5</option>
      <option value="12">ม.6</option>
    </select>
  </div>

  <div class="field minify-selector">
    <label for="price">ค่าลงทะเบียน</label>
    <%= f.number_field :price ,value: course[:price] || '2500' , placeholder: '2500' %> บาท
  </div>
  <hr>

  <!-- <div class="field">
    <label for="teacher">ครูผู้สอน</label>
    <% Teacher.all.each do |t| %>
      <%
        finder = false
        if course[:teacher].present?
          course[:teacher].split(",").each do |teach|
            if teach == t[:id].to_s
              finder = true
            end
          end
        end
      %>
      <% if course[:teacher].present? && finder
          parser =  { :multiple => true, :checked  => true }
        else
          parser =  { :multiple => true }
        end
      %>
      <%= check_box( "course", "teacher", parser, t[:id], nil) %>
      <span style="margin-right: 20px"> พี่<%= t[:name] %></span>
    <% end %>
  </div>
  <hr> -->

  <div class="field minify-selector">
    <% ttb = course[:period] || 13 %>
    <label for="period">จำนวนครั้งที่สอน</label>
    <select id="periodr" name="course[period]">
      <% 1..21.times do |t| %>
        <% if t > 0 %>
          <option
            value="<%= t %>"
            <% if t == ttb %>selected<% end %>
            >
            <%= t %>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="field time-selector">
    <label for="end_time">วันที่เรียน</label>
    <% @date_range_set.each do |ds| %>
      <% if course[:time_table].present? && course[:time_table].index(ds[:v]) != nil
          parser =  { :multiple => true, :checked  => true }
        else
          parser =  { :multiple => true }
        end
      %>
      <%= check_box( "course", "time_table", parser, ds[:v], nil) %>
      <span style="margin-right: 13px"> <%= ds[:d] %> </span>
    <% end %>
  </div>

  <div class="field date-selector">
    <% default_start_course = Date.today + 1.month %>
    <% default_end_course   = Date.today + 4.month %>
    <label for="start">เริ่มคอร์ส</label>
    <%= f.date_select :start ,
        :default => {
          :year  =>  default_start_course.strftime('%Y').to_s ,
          :month =>  default_start_course.strftime('%m').to_s,
          :day   =>  default_start_course.beginning_of_month.strftime('%d').to_s,
        },
        :order => [ :day, :month, :year ]
    %>
    <span style="margin: 0 15px; font-size: 15px;"> ถีงวันที่ </span>
    <%= f.date_select :end ,
        :default => {
          :year  =>  default_end_course.strftime('%Y').to_s ,
          :month =>  default_end_course.strftime('%m').to_s,
          :day   =>  default_end_course.end_of_month.strftime('%d').to_s
        },
        :order => [ :day, :month, :year ]
     %>
  </div>

  <div class="field time-selector">
    <label for="start_time">เริ่มเรียนเวลา</label>
    <%= f.time_select :start_time , :default => {:hour => '8', :minute => '00'} %> น.
  </div>

  <div class="field time-selector">
    <label for="end_time">เลิกเรียนเวลา</label>
    <%= f.time_select :end_time  , :default => {:hour => '16', :minute => '00'} %> น.
  </div>
  <hr>

  <div class="actions">
    <%= link_to 'Back', courses_path , class: 'btn btn-grey' %>
    <span class="mar-10"></span>

    <% if controller.action_name == 'edit' %>
      <%= link_to 'Show', @course ,class: 'btn-grey'%>
      <span class="mar-10"></span>
    <% end %>

    <input type="submit" value="Submit" class="btn btn-redder">
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    courseGrade = "<%= course[:grade] || 5 %>"
    courseMajor = "<%= course[:major] || 'blank' %>"

    $("#grader > option").each(function() {
      if (this.value == courseGrade) {
        this.setAttribute('selected','selected');
      }
    });

    $("#major > option").each(function() {
      if (this.value == courseMajor) {
        this.setAttribute('selected','selected');
      }
    });
  });
</script>
