<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    Courses - <%= Course.count_all %> วิชา
    <%= link_to 'New Course', new_course_path , class: 'btn-ner' %>
  </h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ชื่อคอร์ส</th>
        <th>วิชา</th>
        <th>ชั้นปี</th>
        <th>ค่าลงทะเบียน</th>
        <th>นักเรียน</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% (@courses.sort_by { |s| s[:grade]  }).each do |course| %>
        <% course_detail = Course.details(course)%>
        <tr>
          <td><%= course_detail[:id] %></td>
          <td><%= course_detail[:name] %></td>
          <td><%= course_detail[:major] %></td>
          <td><%= course_detail[:grade] %></td>
          <td><%= course_detail[:price] %></td>
          <td><%= course_detail[:seat] %></td>
          <td><%= link_to 'รายละเอียด', edit_course_path(course) , class: 'btn-redder' %></td>
          <td><%= link_to 'ลบทิ้ง', course, method: :delete, data: { confirm: 'Are you sure?' }  , class: 'btn-grey' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
