<div class="admin-block">
  <p id="notice"><%= notice %></p>

  <h1>
    คอร์สเรียนทั้งหมด - <%= Course.count_all %> วิชา
    <%= link_to 'New Course', new_course_path , class: 'btn-ner' %>
  </h1>

  <% @semester_lists.each do |sem| %>
    <div class="label-banner">ภาคการศึกษา / <%= Semester.where(sem_code: sem).first[:name] %></div>
    <table class="">
      <thead>
        <tr>
          <th>ระดับชั้น</th>
          <th>วิชา</th>
          <th>วัน</th>
          <th>วันที่เรียน</th>
          <th>เวลา</th>
          <th>เรียนทั้งหมด</th>
          <th>นัดแก้</th>
          <th>นัดเพิ่ม</th>
          <th>ค่าเรียน</th>
          <th>นักเรียน</th>
          <th>ครู</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% (@courses.where(semester: sem).sort_by { |s| s[:grade]  }).each do |course| %>
          <% course_detail = Course.details(course)%>
          <tr>
            <td><%= course_detail[:grade] %></td>
            <td>
              <%= course_detail[:name] %><br>
              <span style="color: grey;font-size:11px;">
                <%= course[:session_id]%>
              </span>
            </td>
            <td><%= course_detail[:range] %></td>
            <td><%= course_detail[:time_table] %></td>
            <td><%= course_detail[:time] %></td>
            <td><%= course_detail[:period] %></td>
            <td
              class="clickable toggle-fixed"
              course="<%= course[:session_id] %>"
              status="<%= course_detail[:fixed_class][:status] %>"
              >
              <%= course_detail[:fixed_class][:res] %>
            </td>
            <td
              class="clickable toggle-extra"
              course="<%= course[:session_id] %>"
              status="<%= course_detail[:extra_class][:status] %>"
              >
              <%= course_detail[:extra_class][:res] %>
            </td>
            <td><%= course_detail[:price] %></td>
            <td>
              <%= course_detail[:seat] %>คน
              <a class="btn-red-mini" href="<%= task_add_student_path %>?course=<%= course[:id] %>">+Add</a>
              <!-- <a
                class="open-modal btn-red-mini" href="#"
                spec="<%= course.session_id %>"
                >
                +Add
              </a> -->
            </td>
            <td><%= course_detail[:teacher] %></td>
            <td><%= link_to 'แก้ไข', edit_course_path(course) , class: 'btn-redder' %></td>
            <td><%= link_to 'ลบ', course, method: :delete, data: { confirm: 'ถ้ากดลบคอร์สนี้เเละข้อมูลที่เกี่ยวข้องทั้งหมดจะหายไป เเน่ใจนะ?' }  , class: 'btn-grey' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $('.open-modal').on('click',function(){
      $('.modal-student').addClass('is-active');
      spec = $(this).attr("spec");
      $('.cl-id').val(spec);
      $.ajax({
				url: '<%= init_get_class_advisee_path %>',
        data: {
          classroom: spec
        },
				success: function(response){
          //alert(JSON.stringify(response.collect));
          $('.st-course').text(response.get);
          $("tbody.pop-course").find("tr").each(function() {
            //find course then checked
            var students     = $(this).find('input');
            //clear all value
            students.prop('checked', false);
            var find_course = response.collect.indexOf(students.attr('code'));
            if (find_course >= 0) {
              //alert(find_course);
              students.prop('checked', true);
            }
          });
				}
			});
    });

    $('.closer').on('click',function(){
      $('.modal').removeClass('is-active');
    });

    $('.toggle-fixed').on('click',function(){
      course = $(this).attr("course");
      status = $(this).attr("status");
      // alert("นัดแก้" + course + " " + status);
      if (status == "true"){
        $('.modal-addcourse').addClass('is-active');
        $.get("/init/get_addcourse_note?type=fixed&course="+ course , function(data, status){
          $( "a.edit-inject" ).attr("href", data.edit_inject);
          $( "span.place-holder").text(data.course);
          $( "div.inner" ).html('');
          $( "div.inner" ).html(data.note);
        });
      } else {
        window.location.href = "/addcourses/new?course="+ course +"&type=fixed";
      }
    });

    $('.toggle-extra').on('click',function(){
      course = $(this).attr("course");
      status = $(this).attr("status");
      // alert("นัดเพิ่ม" + course + " " + status);
      if (status == "true"){
        $('.modal-addcourse').addClass('is-active');
        $.get("/init/get_addcourse_note?type=extra&course="+ course , function(data, status){
          $( "a.edit-inject" ).attr("href", data.edit_inject);
          $( "span.place-holder").text(data.course);
          $( "div.inner" ).html('');
          $( "div.inner" ).html(data.note);
        });
      } else {
        window.location.href = "/addcourses/new?course="+ course +"&type=extra";
      }
    });
  });
</script>
