<!DOCTYPE html>
<html>
  <head>
    <title>กวดวิชา Super Genius</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

  	<meta charset="utf-8">
  	<meta property="og:image" content="http://i.imgur.com/LbQa0iH.jpg">
  	<meta property="fb:app_id" content="222852828233310" >
  	<meta property="og:title" content="กวดวิชา Super Genius">
  	<meta name="description" property="og:description" content="สถาบันกวดวิชาอันดับ1 ในย่านรังสิตกับความภูมิใจ สอบติดโรงเรียนชั้นนำ 100% 5ปีซ้อน">
    <meta name="keywords" content="กวดวิชา,ประถม,รังสิต,สอบเข้า,ติวเลข">
  	<meta name="author" content="Chinnatip Taemkaeo | chin@kohlife.com">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="theme-color" content="#990003">
  	<link rel="manifest" href="manifest.json" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta property="og:url" content="http://www.supergeniusschool.com/">
  	<link rel="canonical"   href="http://www.supergeniusschool.com/" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="">
    <!-- integrate facebook sdk -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=222852828233310";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



    <!-- content-header -->
    <div id="cHeader">
      <div class="banner-top">
         <%= Configur.first[:top_contact] rescue '' %>
         <div
           class="fb-share-button"
           data-href="http://www.supergeniusschool.com/"
           data-layout="button_count"
           data-size="large"
           data-mobile-iframe="true">
             <a
               class="fb-xfbml-parse-ignore"
               target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode("http://www.supergeniusschool.com/") %>;src=sdkpreparse">
               Share
             </a>
           </div>
       </div>
      <section class="hero _fixed_top" >
        <nav-bar
          :nav="nav"
          :body="body"
          :login="login"
          :role="checkRole"
          :active="url_action"
          user="<%= current_user[:name] rescue '' %>"
          v-if="enable"
          >
        </nav-bar>
      </section>
    </div>

    <!-- content-body -->
    <%= yield %>

    <!-- footer ><-->
    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer class="footer hero is-dark _footer-site-corp">
        <div class="container">
          <div class="columns ">
            <div class="column">
              <p class="head-up ">Find Us on Facebook</p>
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsupergeniusschool%2F&tabs=timeline&width=320&height=150px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=155981588273147" width="340" height="150px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="column">
              <p class="head-up ">Recent News</p>
              <div class="">
                <% Newsfeed.all.each_with_index do |feed,idx|%>
                  <% if idx <= 3 %>
                    <a target="_blank" class="news-footer news" :href=" '/home/news_detail?id=' + <%= feed["id"] %> ">
                      <%= feed["title"]%>
                    </a><br>
                  <% end %>
                <% end %>
              </div>
              <a target="_blank" class="news-footer" href="/home/news">อ่านข่าวทั้งหมด </a>
            </div>
            <div class="column">
              <p class="head-up content-right">Contact Info</p>
              <%= Configur.first[:contact_info].html_safe rescue '' %>
            </div>
          </div>
          <div class="columns ">
            <div class="column">
              <p>ขอสงวนลิขสิทธิ์ © <%= Configur.first[:company_name] rescue '' %></p>
            </div>
            <div class="column">
              <a class="_bread" href="">ข้อกำหนดและเงื่อนไข</a>
              <a href="">นโยบายความเป็นส่วนตัว</a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Include JAVASCRIPT here ><-->
    <script src="/js/body.js"></script>
    <script src="/js/ribbon.js"></script>
    <script src="/js/footer_site.js"></script>
    <script type="text/javascript">
      //controll navbar
      $( document ).ready(function() {
        //nav controller
        var mainH = $('#main_side').outerHeight();
        var navH = $('#navbar').outerHeight();
        var bodyH = $('#body_content').outerHeight();
        if (mainH > 0) {
          $('#navbar').addClass('_mainH_wait_nav');
        }

        $(window).scroll(function (event) {
          var scroll = $(window).scrollTop();
          if (scroll > mainH) {
            // $('#navbar').removeClass('_mainH_wait_nav');
            //header.scrollCheck = false;
          }else{
            // $('#navbar').addClass('_mainH_wait_nav');
          }

          if (scroll >= ( mainH + bodyH )) {
            // $('._nav_affix').addClass('_fixed');
            $('#float').addClass('_fixed_margin');
            $('#gap-baker').addClass('top-60');
            // $('.banner-top').addClass('_fixed_bottom');
          }else{
            // $('._nav_affix').removeClass('_fixed');
            $('#float').removeClass('_fixed_margin');
            $('#gap-baker').removeClass('top-60');
            // $('.banner-top').removeClass('_fixed_bottom');
          }
        });
      });

      //Smooth scroll
      $(document).on('click', 'a[href^="#"]', function(e) {
          var id = $(this).attr('href');
          var $id = $(id);
          if ($id.length === 0) {
              return;
          }
          e.preventDefault();
          var pos = $(id).offset().top;
          $('body, html').animate({scrollTop: pos},1000);
      });

      //component of header
      var header = new Vue({
        el: '#cHeader',
        computed: {
          checkRole: function(){
            if (this.login) {
              return '<%= current_user.role rescue '' %>' ;
            }
          },
          desktopCheck: function(){
            console.log(this.screenW);
            if (this.screenW > 560) { return true } else { return false }
          },
          aboutCheck: function(){
            if (this.url_action == 'about') { return true } else { return false }
          },
          enable: function(){
            // if (this.aboutCheck  && this.desktopCheck && this.scrollCheck) {
            if (this.url_action == 'introduce') {
              return false
            } else {
              return true
            }
          },
          selectContent: function(){
            console.log('hello');
            for (var i = 0; i < this.content.length; i++) {
              var select ;
              if (this.content[i].key == this.url_action) {
                select = i ;
              }
            }
            console.log( this.content[select]);
            return this.content[select]
          },
        },
        data: {
          url_action: '<%= controller.action_name %>' ,
          url_controller: '<%= controller.controller_name %>' ,
          scrollCheck: true,
          screenW: $(window).width() ,
          login: <%= user_signed_in? %>,
          body: {
            theme: 'is-info',
            background: '/img_ref/bg_top.jpg',
            mainbg: '/super/DSC_6848.jpg',
            size:  'is-medium',
          },
          iLinks:[
            { title: 'สถาบันกวดวิชา'   ,action:'' , url: 'index' },
            { title: 'Student Gallery'  ,action:'' , url: 'index' },
            { title: 'Tutors'        ,action:'' , url: 'index' },
            { title: 'Top Students'  ,action:'' , url: 'index' },
          ],
          content: [
            { key: 'about'   , title: 'เกี่ยวกับเรา'   ,url: '#nav-affix', link: 'เกี่ยวกับเรา' , sub: 'ที่มาของโรงเรียนเเละความภูมิใจของเรา',},
            { key: 'news'    , title: 'ข่าวและกิจกรรม',url: '', link: 'ข่าวเเละกิจกรรม' , sub: 'รวบรวมข่าวคราวล่าสุดจากโรงเรียน Super Genius',},
            { key: 'contact' , title: 'ติดต่อเรา'     ,url: '', link: 'ติดต่อเรา' , sub: 'แผนที่สถานที่ตั้งโรงเรียน เเละช่องทางติดต่อ',},
          ],
          sliders: [
            { title: 'SUPER GENIUS school',tab: 'tab1',url: '#nav-affix', link: 'ดูคอร์สเรียนของเรา >>', subtitle: 'เพราะการเล่นทำให้เด็กฉลาด เราจึงเป็นโรงเรียนสอนพิเศษที่ให้ มากกว่าเเค่ความรู้ สถานที่ที่น้องๆจะได้สาระพร้อมทั้งความสนุก ผู้ปกครองสบายใจ เด็กได้เกรดดี มีสังคมของเพื่อนๆต่างโรงเรียน'},
            { title: 'เรียนอย่าง เข้าใจ ไม่ใช่ท่องจำ',tab: 'tab2',url: '#nav-affix', link: 'บรรยากาศห้องเรียน >>', subtitle: '---'},
            { title: 'บรรยากาศเป็นกันเอง ถาม ตอบ ได้ตลอดเวลา',tab: 'tab3',url: '#nav-affix', link: 'บรรยากาศห้องเรียน >>', subtitle: '---'},
            { title: 'พิสูจน์เเล้วกว่า 500คน 100โรงเรียน เกรดขึ้น สอบติดเเน่นอน',tab: 'tab4',url: '#nav-affix', link: 'รุ่นพี่ Super Genius >>', subtitle: '---'},
            { title: 'ประเมินผลรายบุคคลอย่างละเอียด ให้ข้อมูลสถาบันเเละหลักสูตรที่น่าสนใจ รวมถึงดูความเป็นไปได้ในการสอบ เพื่อศึกษาต่อในที่ต่างๆ',tab: 'tab5',url: '#nav-affix', link: 'เช็คผลการเรียน >>', subtitle: '---'},
            { title: 'ห้องเรียนกว้างขวาง สถานที่สวยงาม ปลอดภัย',tab: 'tab6',url: '#nav-affix', link: 'บรรยากาศห้องเรียน >>', subtitle: '---'},
            { title: 'เรียนสนุก มีความสุข ความรู้ครบถ้วน',tab: 'tab7',url: '#nav-affix', link: 'ดูคอร์สเรียนของเรา >>', subtitle: '---'},
            { title: 'สื่อการสอนครบครัน ทันสมัย',tab: 'tab8',url: '#nav-affix', link: 'ดูคอร์สเรียนของเรา >>', subtitle: '---'},
          ],
          slider: true ,
          choice: 'tab1',
          nav: {
            brand: '/img_ref/sup_01.png',
            brandLink: "<%= root_path %>",
            links: [
              {
                title: 'หน้าหลัก',
                controller: 'index',
                link: '<%= root_path %>',
                target: ''
              },{
                title: 'คอร์สเรียน',
                controller: 'course',
                link: "<%= home_course_path %>",
                target: ''
              },
              {
                title: 'จองห้องคอม',
                controller: 'booking',
                link: "<%= booking_index_path %>",
                target: ''
              },
              {
                title: 'เช็คผลการเรียน',
                controller: 'report',
                link: "<%= report_index_path %>",
                target: ''
              },{
                title: 'ข่าวเเละกิจกรรม',
                controller: 'news',
                link: "<%= home_news_path %>",
                target: ''
              },{
                title: 'ติดต่อเรา',
                controller: 'contact',
                link: "<%= home_contact_path %>",
                target: ''
              }
            ],
            backLink: {
              title: 'Dashboard',
              icon: 'fa-id-card-o',
              link: '<%= dashboard_index_path %>'
            },
            login: {
              icon: 'fa-sign-in'
            },
            logout: {
              icon: 'fa-sign-out'
            }
          }
        }
      });

      //component of footer
      var comp = new Vue({
        el: '#cFooter',
        data: {
          footer:{
            contacts:[
              {icon: 'fa-facebook-official' , url: '#'},
              {icon: 'fa-envelope' , url: '#'},
              {icon: 'fa-phone-square' , url: '#'}
            ],
            languages: [
              {native: 'THAI' , url: '#'},
              {native: 'ENGLISH' , url: '#'}
            ],
            sites: [
              {
                //first list
                head : 'First list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' }
                ]
              },{
                //second list
                head : 'Second list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                ]
              },{
                //third list
                head : 'Last list',
                lists:[
                  { content: 'click me', url: '#' },
                ]
              }
            ]
          }
        }
      });
    </script>

    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="https://v2.zopim.com/?4vePsNGaW0In7NMavgbB8VVghQe2J3SQ";z.t=+new Date;$.
      type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
  </body>
</html>
