<!DOCTYPE html>
<html>
  <head>
    <title>Super Genius</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- header ><-->
    <div id="cHeader">
      <section class="hero _fixed_top" :class="[body.theme,body.size]" :style="{ background: 'url(' + body.background + ') no-repeat center center' , backgroundSize: 'cover' }">
        <nav-bar
          :nav="nav"
          :body="body"
          :login="login"
          :role="checkRole"
          ></nav-bar>
        <!-- hero-slider :slider="sliders" :choice="choice" ></hero-slider -->
        <span class="_fixed_margin">
          <hero-body-split :text="body"></hero-body-split>
        </span>
        <header class="nav _nav_affix _add_color">
          <div class="container">
            <div class="columns super-columns" style="">
              <span class="column"
                v-for="l in iLinks"
                v-bind:class="['active']"
              >
                <span>
                  <a :href="l.url">{{l.title}}</a>
                </span>
              </span>
            </div>
          </div>
        </header>
      </section>
    </div>

    <%= yield %>


    <!-- footer ><-->

    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer-site-corp :footer="footer"></footer-site-corp>
    </div>

    <!-- Include JAVASCRIPT here ><-->
    <script src="/js/body.js"></script>
    <script src="/js/ribbon.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/footer.js"></script>
    <script type="text/javascript">
    $( document ).ready(function() {
      var navH = $('#navbar').outerHeight();
      $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
        if (scroll >= navH ) {
          $('.nav').addClass('_bg_blue');
        }else{
          $('.nav').removeClass('_bg_blue');
        }
      });
    });

      //component of header
      var header = new Vue({
        el: '#cHeader',
        computed:{
          checkRole: function(){
            if (this.login) {
              return '<%= current_user.role rescue '' %>' ;
            }
          }
        },
        data: {
          url_action: '<%= controller.action_name %>' ,
          url_controller: '<%= controller.controller_name %>' ,
          login: <%= user_signed_in? %>,
          body: {
            theme: 'is-info',
            background: '/img_ref/bg_blue.jpg',
            size:  'is-medium',
            title: 'นักลงทุนสัมพันธ์',
            sub:   'Public Company Limited มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน',
            link: 'นักลงทุนสัมพันธ์',
            url:  ''
          },
          iLinks:[
            { title: 'นักลงทุนสัมพันธ์'          ,action:'' , url: 'index' },
            { title: 'ข้อมูลทางการเงิน' ,action:'' , url: 'index' },
            { title: 'ข้อมูลสำหรับผู้ถือหุ้น'      ,action:'' , url: 'index' },
            { title: 'ผู้ถือหุ้นกู้'       ,action:'' , url: 'index' },
            { title: 'ข้อมูลราคาหลักทรัพย์'      ,action:'' , url: 'index' },
            { title: 'ห้องข่าว'     ,action:'' , url: 'index' },
            { title: 'สอบถามข้อมูลนักลงทุน' ,action:'' , url: 'index' },
          ],
          sliders: [
            {
              title: 'บริษัท พฤกษา โฮลดิ้ง จำกัด (มหาชน)',
              subtitle: 'PCL มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ทุกความต้องการของลูกค้าได้อย่างครบถ้วน',
              tab: 'tab1'
            },
            {
              title: 'Hey this is SECOND TAB',
              subtitle: 'are you ok with this ?',
              tab: 'tab2'
            },
            {
              title: 'I beleive I can fly',
              subtitle: 'Osmosis ',
              tab: 'tab3'
            },
          ],
          slider: false ,
          choice: 'tab1',
          nav: {
            brand: '/img_ref/logo_p.png',
            brandLink: "<%= page_about_path %>",
            links: [
              {
                title: 'เกี่ยวกับเรา',
                controller: 'about',
                link: "<%= page_about_path %>",
                target: ''
              },{
                title: 'นักลงทุนสัมพันธ์',
                controller: 'investor',
                link: "<%= investor_index_path %>",
                target: ''
              },{
                title: 'ข่าวเเละกิจกรรม',
                controller: 'news',
                link: "<%= page_news_path %>",
                target: ''
              },{
                title: 'ติดต่อเรา',
                controller: 'contact',
                link: "<%= page_contact_path %>",
                target: ''
              }
            ],
            backLink: {
              title: 'Dashboard',
              icon: 'fa-arrows-alt',
              link: '<%= dashboard_index_path %>'
            }
          }
        }
      });

      //component of footer
      var comp = new Vue({
        el: '#cFooter',
        data: {
          footer:{
            contacts:[
              {icon: 'fa-facebook-official' , url: '#'},
              {icon: 'fa-envelope' , url: '#'},
              {icon: 'fa-phone-square' , url: '#'}
            ],
            languages: [
              {native: 'THAI' , url: '#'},
              {native: 'ENGLISH' , url: '#'}
            ],
            sites: [
              {
                //first list
                head : 'First list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' }
                ]
              },{
                //second list
                head : 'Second list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                ]
              },{
                //third list
                head : 'Last list',
                lists:[
                  { content: 'click me', url: '#' },
                ]
              }
            ]
          }
        }
      });
    </script>
  </body>
</html>
