<!DOCTYPE html>
<html>
  <head>
    <title>Super Genius</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body  class="admin-body">
    <div id="cHeader">
      <section class="hero _fixed_top" :class="[body.theme,body.size]" :style="{ background: 'url(' + body.background + ') no-repeat center center' , backgroundSize: 'cover' }">
        <nav-bar
          :nav="nav"
          dashboard="true"
          :body="body"
          :login="login"
          :role="checkRole"
          user="<%= current_user[:name] rescue '' %>"
          ustack="false"
          ></nav-bar>
      </section>
    </div>

    <section class="is-fullheight _dashboard">
      <div class="__sidebar" id="sidebar">
        <ul v-for=" ul in lists">
          <li v-for="li in ul">
            <a v-if="li.head == 'head'" class="_head" >{{li.text}}</a>
            <a v-else :href="li.link" :class=" isActive(li.active) " >{{li.text}}</a>
          </li>
        </ul>
      </div>
      <div class="__content">
        <div class="__content_padding">
          <%= yield %>
        </div>
      </div>
      <div class="__content_footer"> Copyright, Super Genius school.co.ltd @2017</div>
    </section>


  </body>
  <!-- Include JAVASCRIPT here ><-->
  <script src="/js/body.js"></script>
  <script src="/js/ribbon.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/stockir.js"></script>
  <script src="/js/footer_site.js"></script>
  <script src="/js/app-data.js"></script>
  <script type="text/javascript">
    var side = new Vue({
      el: '#sidebar',
      data: {
        url_control: '<%= controller.controller_name %>' ,
        url_action: '<%= controller.action_name %>' ,
        url_active: '<%= @active %>',
        lists: [
          [
            { text: 'Admin page'  , link: '' , head: 'head' },
            { text: 'หน้าหลัก'     , link: '<%= dashboard_index_path %>'  , active: 'dashboard', },
            { text: 'ปีการศึกษา'   , link: '<%= semesters_path %>'  , active: 'semesters', },
            { text: 'รายวิชา'   , link: '<%= majors_path %>'  , active: 'majors', },
            { text: 'คอร์สเรียน' , link: '<%= courses_path %>'  , active: 'courses', },
            { text: 'นัดเรียนเสริม' , link: '<%= addcourses_path %>'  , active: 'addcourses', },
            { text: 'ห้องเรียน' , link: '<%= classrooms_path %>'  , active: 'classrooms', },
            { text: 'รายชื่อโรงเรียน' , link: '<%= schools_path %>'  , active: 'schools', },
            { text: 'รายชื่อนักเรียน' , link: '<%= students_path %>'  , active: 'students', },
            { text: 'รายชื่อครู' , link: '<%= teachers_path %>'  , active: 'teachers', },
            { text: 'ข่าวสารโรงเรียน', link: '<%= newsfeeds_path %>'        , active: 'newsfeeds', },
            // { text: 'CMS', link: '<%= cms_path %>' , active: 'cms', },
            // { text: 'CMS - รายละเอียด', link: '/configurs' , active: 'configurs', },
            { text: 'CMS - รายละเอียดเเละการติดต่อ', link: '/configurs/1' , active: 'configurs', },
            { text: 'CMS - หน้าเเรก', link: '/cms/home' , active: 'cms', },
            { text: 'CMS - สถาบันกวดวิชา', link: '/cms/about' , active: 'cms', },
            { text: 'CMS - student', link: '/cms/student' , active: 'cms', },
            { text: 'CMS - tutor', link: '/cms/tutor' , active: 'cms', },
            { text: 'CMS - top student', link: '/cms/top_student' , active: 'cms', },
            { text: 'CMS - คอร์สเรียน', link: '/cms/course' , active: 'cms', },
            { text: 'CMS - ติดต่อเรา', link: '/cms/contact' , active: 'cms', },
          ]
        ],
      },
      methods: {
        isActive: function( val ){
          if (val == this.url_control) {
            return 'active'
          }
        }
      }
    });
    var comp = new Vue({
      el: '#cHeader',
      data: {
        url_action: '<%= controller.action_name %>' ,
        url_controller: '<%= controller.controller_name %>' ,
        current: '<%= current_user.email %>',
        login: <%= user_signed_in? %>,
        body: {
          theme: 'is-info',
          size:  'is-large',
          title: 'INVESTOR RELATIONS',
          sub:   'PCL aims to be a top Thai diversified property company that delivers end-to-end modern urban lifestyles to customers.'
        },
        nav: {
          brand: '/img_ref/sup_01.png',
          brandLink: "<%= root_path %>",
          links: [],
          backLink: {
            title: 'Dashboard',
            icon: 'fa-commenting-o',
            link: '<%= dashboard_index_path %>'
          },
          login: {
            icon: 'fa-sign-in'
          },
          logout: {
            icon: 'fa-sign-out'
          }
        }
      }
    });
    $(document).ready(function(){
      <% if action_name == 'class_detail' %>
        // click [enter] to move down tabel cell
        $('input').keypress(function(e) {
          if (e.keyCode == 13) {
            var $this = $(this),
            index = $this.closest('td').index();
            $this.closest('tr').next().find('td').eq(index).find('input').focus();
            e.preventDefault();
          }
        });
      <% else %>
        // disable [enter] to submit form
        $(window).keydown(function(e){
          if(!$(e.target).hasClass('text-area') ){
            if(e.keyCode == 13) { e.preventDefault() }
          }

        });
      <% end %>
    });

  </script>
</html>
