<!DOCTYPE html>
<html>
  <head>
    <title>-KOH-Corporate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="cHeader">
      <section class="hero is-medium" v-bind:class="[body.theme]">
        <nav-bar
          :nav="nav"
          :body="body"
          :login="login"
          :role="checkRole"
          :active="url_controller"
          ></nav-bar>
        <span v-if=" url_action == 'index' ">
          <hero-body :text="body"></hero-body>
        </span>
        <header class="nav _nav_affix">
            <div class="columns" style="width:100%">
              <span class="column" v-for="l in iLinks" :class=" isActive( l.action ) ">
                <span v-if="l.sublink == false">
                  <a :href="l.url">{{l.title}}</a>
                </span>
                <span v-else class="_link_with_sub">
                  <a>{{l.title}}</a>
                  <ul>
                    <li v-for="a in l.suburl">
                      <a :href="a.url">{{a.text}}</a>
                    </li>
                  </ul>
                </span>
              </span>
            </div>
        </header>
      </section>
    </div>

      <%= yield %>
    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer-site :footer="footer"></footer-site>
    </div>
  </body>
  <!-- Include JAVASCRIPT here ><-->
  <script src="/js/body.js"></script>
  <script src="/js/ribbon.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/stockir.js"></script>
  <script src="/js/footer_site.js"></script>
  <script src="/js/app-data.js"></script>

  <script type="text/javascript">
    var comp = new Vue({
      el: '#cHeader',
      computed:{
        checkRole: function(){
          if (this.login) {
            return '<%= current_user.role rescue '' %>' ;
          }
        }
      },
      methods: {
        isActive: function( val ){
          if ( val == this.url_active ) {
            return 'active'
          }else {
            return ''
          }
        }
      },
      data: {
        url_action: '<%= controller.action_name %>' ,
        url_controller: '<%= controller.controller_name %>' ,
        url_active: '<%= @active %>',
        login: <%= user_signed_in? %>,
        iLinks:[
          { title: 'Investor Relations'     , action: 'index' , url: '<%= investor_index_path %>' , sublink: false },
          { title: 'Financial Information'  , action: 'financial' , url: '<%= investor_financial_path %>' , sublink: false },
          { title: 'Shareholder Information', action: 'share' , url: '#' , sublink: true , suburl:[
            {text:'Major Chareholders'          , url:'<%= investor_share_path %>'},
            {text:'Dividend History and Policy' , url:'<%= investor_share_history_path %>'},
            {text:'Right of Shareholders'       , url:'<%= investor_share_right_path %>'},
            {text: "Shareholders' Meeting"      , url:'<%= investor_share_holder_path %>'}]
          },
          { title: 'Bondholder'           , action: 'bond' , url: '#' , sublink: true , suburl:[
            {text:'Financial Policy'      , url:'<%= investor_bond_policy_path %>'},
            {text:'THB Bond Information'  , url:'<%= investor_bond_path %>'},
            {text:'Prospectus'            , url:'http://capital.sec.or.th/webapp/corp_fin2/cgi-bin/final69.php?txt_compid=1807&txt_offerid=001576&txt_secuid=01&txt_offertypeid=01&txt_language=T&txt_applydate=2016-06-17&start_date=2016-10-19'}]
          },
          { title: 'Stock Information'    , action: 'stock' , url: '#' , sublink: true , suburl:[
            {text:'Stock Quotes'          , url:'<%= investor_stock_path %>'},
            {text:'History Price'         , url:'<%= investor_stock_history_path %>'},
            {text:'Consensus'             , url:'<%= investor_stock_concensus_path %>'},
            {text: 'Analyst Contact List' , url:'<%= investor_stock_analyst_path %>'}]
          },
          { title: 'Newsroom'               , action: 'news' , url: '#' , sublink: true , suburl:[
            {text:'IR Calendar'      , url:'<%= investor_news_calendar_path %>'},
            {text:'SET Notification' , url:'<%= investor_news_set_path %>'},
            {text:'News Clippings'   , url:'<%= investor_news_path %>'}]
          },
          { title: 'Information Request'    , action: 'contact' , url: '#' , sublink: true , suburl:[
            {text: 'Email Alerts' , url:'<%= investor_contact_email_path %>'},
            {text: 'IR Contact'   , url:'<%= investor_contact_path %>'}]
          }
        ],
        body: {
          theme: 'is-info',
          size:  'is-large',
          title: 'INVESTOR RELATIONS',
          sub:   'PSH aims to be a top Thai diversified property company that delivers end-to-end modern urban lifestyles to customers.'
        },
        nav: {
          brand: 'https://s29.postimg.org/5xtetqw6v/vbr.png',
          brandLink: "<%= home_index_path %>",
          links: [
            {
              title: 'About us',
              controller: 'about',
              link: "<%= page_about_path %>",
              target: ''
            },{
              title: 'Investor relationship',
              controller: 'investor',
              link: "<%= investor_index_path %>",
              target: ''
            },{
              title: 'News & Activities',
              controller: 'new',
              link: "<%= page_news_path %>",
              target: ''
            },{
              title: 'Contact',
              controller: 'contact',
              link: "<%= page_contact_path %>",
              target: ''
            }
          ],
          backLink: {
            title: 'Dashboard',
            icon: 'fa-arrows-alt',
            link: '<%= dashboard_index_path %>'
          }
        }
      }
    });
    var foot = new Vue({
      el: '#cFooter',
      data: {
        footer:{
          contacts:[
            {icon: 'fa-facebook-official' , url: '#'},
            {icon: 'fa-envelope' , url: '#'},
            {icon: 'fa-phone-square' , url: '#'}
          ],
          languages: [
            {native: 'THAI' , url: '#'},
            {native: 'ENGLISH' , url: '#'}
          ],
          sites: [
            {
              //first list
              head : 'First list',
              lists:[
                { content: 'click me', url: '#' },
                { content: 'click me', url: '#' },
                { content: 'click me', url: '#' }
              ]
            },{
              //second list
              head : 'Second list',
              lists:[
                { content: 'click me', url: '#' },
                { content: 'click me', url: '#' },
              ]
            },{
              //third list
              head : 'Last list',
              lists:[
                { content: 'click me', url: '#' },
              ]
            }
          ]
        }
      }
    });
  </script>
</html>
