<!DOCTYPE html>
<html>
  <head>
    <title>Super Genius</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- header ><-->
    <div id="cHeader">
      <section class="hero _fixed_top" v-bind:class="[body.theme,body.size]" :style="{ backgroundColor: '#002a58' , background: 'url(' + body.background + ') no-repeat center center' , backgroundSize: 'cover' }">
        <nav-bar
          :nav="nav"
          :body="body"
          :login="login"
          :role="checkRole"
          :active="url_controller"
          ></nav-bar>
        <span class="_fixed_margin _with_nav_affix">
          <hero-body-split id="body_content" :text="body"></hero-body-split>
          <!-- hero-body id="body_content" :text="body"  v-if=" url_action == 'index' " ></hero-body -->
          <span id="navAffix" ></span>
          <header class="nav _nav_affix _add_color">
              <div class="_top_affix">
                {{findGenre}}
                <a id="toggle_button" @click="toggleAffix" class="ar_up"></a>
              </div>
              <div class="columns" style="width:100%" >
                <span class="column" v-for="l in linkWithOutActive" :class=" isActive( l.action )">
                  <span v-if="l.sublink == false ">
                    <a :href="l.url">{{l.title}}</a>
                  </span>
                  <span v-else class="_link_with_sub">
                    <a :href="l.suburl[0].url">{{l.title}}</a>
                    <ul>
                      <li v-for="a in l.suburl">
                        <a v-if="a.target == 'blank'" target="_blank" :href="a.url">{{a.text}}</a>
                        <a v-else :href="a.url">{{a.text}}</a>
                      </li>
                    </ul>
                  </span>
                </span>
              </div>
          </header>
        </span>
      </section>
    </div>

      <div id="float"></div>

      <%= yield %>
    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer-site-corp :footer="footer"></footer-site-corp>
    </div>
  </body>
  <!-- Include JAVASCRIPT here ><-->
  <script src="/js/body.js"></script>
  <script src="/js/ribbon.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/stockir.js"></script>
  <script src="/js/footer_site.js"></script>
  <script src="/js/app-data.js"></script>

  <script type="text/javascript">
    //nav controller
    $( document ).ready(function() {
      var navH = $('#navbar').outerHeight();
      var bodyH = $('#body_content').outerHeight();
      $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
        if (scroll >= navH) {
          $('.nav').addClass('_bg_blue');
        }else if(scroll < navH){
          console.log('rem');
          $('.nav').removeClass('_bg_blue');
        }
        if (scroll >= (bodyH)) {
          $('._nav_affix').addClass('_fixed');
          $('#float').addClass('_fixed_margin');
        }else{
          $('._nav_affix').removeClass('_fixed');
          $('#float').removeClass('_fixed_margin');
        }
      });
    });

    //Smooth scroll
    $(document).on('click', 'a[href^="#"]', function(e) {
        var id = $(this).attr('href');
        var $id = $(id);
        if ($id.length === 0) {
            return;
        }
        e.preventDefault();
        var pos = $(id).offset().top;
        $('body, html').animate({scrollTop: pos},1000);
    });

    //start vue js
    var comp = new Vue({
      el: '#cHeader',
      computed:{
        checkRole: function(){
          if (this.login) {
            return '<%= current_user.role rescue '' %>' ;
          }
        },
        findGenre: function(){
          var scopes = this.iLinks ;
          var active = this.url_active
          for (var i = 0; i < scopes.length; i++) {
            if ( active == scopes[i].action ) {
              return scopes[i].title;
            }
          }
        },
        linkWithOutActive: function(){
          var link = this.iLinks ;
          var checker = this.url_active ;
          function out(val) {
            return val.action != checker
          }
          return link.filter(out);
        }
      },
      methods: {
        isActive: function( val ){
          if ( val == this.url_active ) {
            return 'active'
          }else {
            return ''
          }
        },
        toggleAffix: function(){
          var display = $('._nav_affix .columns');
          var status = display.css('display');

          if ( status == 'none') {
            display.css("display","block");
            $('#toggle_button').removeClass('ar_up');
            $('#toggle_button').addClass('ar_down');
          }else{
            display.css("display","none");
            $('#toggle_button').removeClass('ar_down');
            $('#toggle_button').addClass('ar_up');
          }
        },
      },
      data: {
        url_action: '<%= controller.action_name %>' ,
        url_controller: '<%= controller.controller_name %>' ,
        url_active: '<%= @active %>',
        login: <%= user_signed_in? %>,
        iLinks:[
          { title: 'นักลงทุนสัมพันธ์'   , action: 'index' , url: '<%= investor_index_path %>' , sublink: false },
          { title: 'ข้อมูลทางการเงิน' , action: 'financial' , url: '/investor/financial#navAffix' , sublink: false },
          { title: 'ข้อมูลสำหรับผู้ถือหุ้น', action: 'share' , url: '#' , sublink: true , suburl:[
            {text:'โครงสร้างผู้ถือหุ้น'             , url:'/investor/share#navAffix'},
            {text:'นโยบายเเละประวัติการจ่ายปันผล' , url:'/investor/share_history#navAffix'},
            {text:'สิทธิของผู้ถือหุ้น'               , url:'/investor/share_right#navAffix'},
            {text: "การประชุมผู้ถือหุ้น"            , url:'/investor/share_holder#navAffix'}]
          },
          { title: 'ผู้ถือหุ้นกู้'           , action: 'bond' , url: '#' , sublink: true , suburl:[
            {text:'นโยบายการเงิน'      , url:'/investor/bond_policy#navAffix'},
            {text:'ข้อมูลหุ้นกู้'  , url:'/investor/bond#navAffix'},
            //{text:'หนังสือชี้ชวน'            , target: 'blank' , url:'http://capital.sec.or.th/webapp/corp_fin2/cgi-bin/final69.php?txt_compid=1807&txt_offerid=001576&txt_secuid=01&txt_offertypeid=01&txt_language=T&txt_applydate=2016-06-17&start_date=2016-10-19'}
            ]
          },
          { title: 'ข้อมูลราคาหลักทรัพย์'    , action: 'stock' , url: '#' , sublink: true , suburl:[
            {text:'ราคาหลักทรัพย์'        , url:'/investor/stock#navAffix'},
            {text:'ราคาย้อนหลัง'         , url:'/investor/stock_history#navAffix'},
            {text:'Consensus'          , url:'/investor/stock_concensus#navAffix'},
            {text: 'รายชื่อนักวิเคราะห์' , url:'/investor/stock_analyst#navAffix'}]
          },
          { title: 'ห้องข่าว'               , action: 'news' , url: '#' , sublink: true , suburl:[
            {text:'IR Calendar'      , url:'/investor/news_calendar#navAffix'},
            {text:'สารสนเทศถึง ตลท.' , url:'/investor/news_set#navAffix'},
            {text:'ข่าวจากสื่อสิ่งพิมพ์'   , url:'/investor/news#navAffix'}]
          },
          { title: 'สอบถามข้อมูลนักลงทุน'    , action: 'contact' , url: '#' , sublink: true , suburl:[
            {text: 'อีเมล์รับข่าวสาร' , url:'/investor/contact_email#navAffix'},
            {text: 'ติดต่อนักลงทุนสัมพันธ์'   , url:'/investor/contact#navAffix'}]
          }
        ],
        body: {
          theme: 'is-info',
          background: '/img_ref/bg_blue.jpg',
          size:  'is-medium',
          title: 'คอร์สเรียนของเรา',
          sub:   'Public Company Limited มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน',
          link: 'นักลงทุนสัมพันธ์',
          url:  '#navAffix'
        },
        nav: {
          brand: '/img_ref/sup_01.png',
          brandLink: "<%= root_path %>#navbar",
          links: [
            {
              title: 'หน้าหลัก',
              controller: 'about',
              //link: "<%= page_about_path %>",
              link: '<%= root_path %>#navbar',
              target: ''
            },{
              title: 'คอร์สเรียนของเรา',
              controller: 'investor',
              link: "<%= investor_index_path %>",
              target: ''
            },{
              title: 'เช็คผลการเรียน',
              controller: 'news',
              link: "<%= page_news_path %>",
              target: ''
            },{
              title: 'ติดต่อเรา',
              controller: 'contact',
              link: "<%= page_contact_path %>",
              target: ''
            }
          ],
          backLink: {
            title: 'Dashboard',
            icon: 'fa-id-card-o',
            link: '<%= dashboard_index_path %>'
          }
        }
      }
    });
    var foot = new Vue({
      el: '#cFooter',
      data: {
        footer:{
          contacts:[
            {icon: 'fa-facebook-official' , url: '#'},
            {icon: 'fa-envelope' , url: '#'},
            {icon: 'fa-phone-square' , url: '#'}
          ],
          languages: [
            {native: 'THAI' , url: '#'},
            {native: 'ENGLISH' , url: '#'}
          ],
          sites: [
            {
              //first list
              head : 'First list',
              lists:[
                { content: 'click me', url: '#' },
                { content: 'click me', url: '#' },
                { content: 'click me', url: '#' }
              ]
            },{
              //second list
              head : 'Second list',
              lists:[
                { content: 'click me', url: '#' },
                { content: 'click me', url: '#' },
              ]
            },{
              //third list
              head : 'Last list',
              lists:[
                { content: 'click me', url: '#' },
              ]
            }
          ]
        }
      }
    });
  </script>
</html>
