<!DOCTYPE html>
<html>
  <head>
    <title>-KOH-Corporate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- header ><-->

    <div id="cHeader">
      <section
        id="main_side"
        class="hero is-fullheight _home_bg"
        :style="{ backgroundColor: '#002a58' , background: 'url(' + body.mainbg + ') no-repeat center center' , backgroundSize: 'cover' }"
        v-if="url_action == 'about'"
        >
        <div class="_center">
          <img class="main" src="/img_ref/pcl_logo.png" alt="">
          <h1>ปี 2559 บริษัทมหาชนจำกัด ได้มีการเจริญเติบโตอย่างเก้ากระโดดคิดเป็น 46% เมื่อเทียบกับปี 2558 ทำให้บริษัทของเรากลายเป็นบริษัทผู้นำทางด้านอสังหารมิทรัพย์ในประเทศไทย </h1>
          <a id="scrollTo" href="#navbar">
            <img src="/img_ref/logo_down.png" alt="">
            เข้าสู่เวปไซท์
          </a>
        </div>
      </section>

      <section
        class="hero _fixed_top"
        v-bind:class="[body.theme,body.size]"
        :style="{ backgroundColor: '#002a58' , background: 'url(' + body.background + ') no-repeat center center' , backgroundSize: 'cover' }"
        >
        <nav-bar
          :nav="nav"
          :body="body"
          :login="login"
          :role="checkRole"
          :active="url_action"
          ></nav-bar>
        <span class="_fixed_margin">
          <hero-body-split id="body_content" :text="selectContent"></hero-body-split>
          <!-- hero-body :text="selectContent"></hero-body -->
        </span>
        <header class="nav _nav_affix _add_color" v-if="url_action == 'about'">
            <div class="columns" style="width:100%">
              <span class="column"
                v-if="url_action == 'about'"
                v-for="l in iLinks"
                v-bind:class="['active']"
              >
                <span>
                  <a>{{l.title}}</a>
                </span>
              </span>
            </div>
        </header>
      </section>
    </div>


    <%= yield %>

    <!-- footer ><-->
    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer-site-corp :footer="footer"></footer-site-corp>
    </div>

    <!-- Include JAVASCRIPT here ><-->
    <script src="/js/body.js"></script>
    <script src="/js/ribbon.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/footer_site.js"></script>
    <script type="text/javascript">
      //controll navbar
      $( document ).ready(function() {
        //nav controller
        var mainH = $('#main_side').outerHeight();
        var navH = $('#navbar').outerHeight();
        var bodyH = $('#body_content').outerHeight();
        if (mainH > 0) {
          $('#navbar').addClass('_mainH_wait_nav');
        }
        $(window).scroll(function (event) {
          var scroll = $(window).scrollTop();
          if (scroll > mainH) {
            $('#navbar').removeClass('_mainH_wait_nav');
          }else{
            $('#navbar').addClass('_mainH_wait_nav');
            $('.nav').removeClass('_bg_blue');
          }
          if (scroll >= (navH + mainH)) {
            $('.nav').addClass('_bg_blue');
          }else if(scroll < navH){
            console.log('rem');
            $('.nav').removeClass('_bg_blue');
          }

          if (scroll >= ( mainH + bodyH)) {
            $('._nav_affix').addClass('_fixed');
            $('#float').addClass('_fixed_margin');
          }else{
            $('._nav_affix').removeClass('_fixed');
            $('#float').removeClass('_fixed_margin');
          }
        });
      });

      //Smooth scroll
      $(document).on('click', 'a[href^="#"]', function(e) {
          var id = $(this).attr('href');
          var $id = $(id);
          if ($id.length === 0) {
              return;
          }
          e.preventDefault();
          var pos = $(id).offset().top;
          $('body, html').animate({scrollTop: pos},1000);
      });



      //component of header
      var header = new Vue({
        el: '#cHeader',
        computed: {
          checkRole: function(){
            if (this.login) {
              return '<%= current_user.role rescue '' %>' ;
            }
          },
          selectContent: function(){
            console.log('hello');
            for (var i = 0; i < this.content.length; i++) {
              var select ;
              if (this.content[i].key == this.url_action) {
                select = i ;
              }
            }
            console.log( this.content[select]);
            return this.content[select]
          }
        },
        data: {
          url_action: '<%= controller.action_name %>' ,
          url_controller: '<%= controller.controller_name %>' ,
          login: <%= user_signed_in? %>,
          body: {
            theme: 'is-info',
            background: '/img_ref/bg_city_02.png',
            mainbg: '/img_ref/main_logo.png',
            size:  'is-medium',
          },
          iLinks:[
            { title: 'ประวัติบริษัท'          ,action:'' , url: 'index' },
            { title: 'วิสัยทัศน์ พันธกิจ'       ,action:'' , url: 'index' },
            { title: 'การประกอบธุรกิจ'      ,action:'' , url: 'index' },
            { title: 'โครงสร้างธุรกิจ'       ,action:'' , url: 'index' },
            { title: 'โครงสร้างองค์กร'      ,action:'' , url: 'index' },
            { title: 'คณะกรรมการบริษัท'     ,action:'' , url: 'index' },
            { title: 'CORPORATE IDENTITY' ,action:'' , url: 'index' },
          ],
          content: [
            { key: 'about'   , title: 'เกี่ยวกับเรา'   , link: 'เกี่ยวกับเรา' , sub: 'PCL มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน',},
            { key: 'news'    , title: 'ข่าวและกิจกรรม', link: 'ข่าวเเละกิจกรรม' , sub: 'PCL มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ทุกความต้องการของลูกค้าได้อย่างครบถ้วน',},
            { key: 'contact' , title: 'ติดต่อเรา'     , link: 'ติดต่อเรา' , sub: 'PCL มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ทุกความต้องการของลูกค้าได้อย่างครบถ้วน',},
          ],
          sliders: [
            { title: 'Vue&Bulma in Rails stack', subtitle: 'scroll down to learn how good of component world',tab: 'tab1'},
            { title: 'Hey this is SECOND TAB', subtitle: 'are you ok with this ?',tab: 'tab2'},
            { title: 'I beleive I can fly', subtitle: 'Osmosis ',tab: 'tab3'},
          ],
          slider: false ,
          choice: 'tab1',
          nav: {
            brand: '/img_ref/logo_p.png',
            brandLink: "<%= root_path %>",
            links: [
              {
                title: 'เกี่ยวกับเรา',
                controller: 'about',
                //link: "<%= page_about_path %>",
                link: '/page/about#navbar',
                target: ''
              },{
                title: 'นักลงทุนสัมพันธ์',
                controller: 'investor',
                link: "<%= investor_index_path %>",
                target: ''
              },{
                title: 'ข่าวเเละกิจกรรม',
                controller: 'news',
                link: "<%= page_news_path %>",
                target: ''
              },{
                title: 'ติดต่อเรา',
                controller: 'contact',
                link: "<%= page_contact_path %>",
                target: ''
              }
            ],
            backLink: {
              title: 'Dashboard',
              icon: 'fa-arrows-alt',
              link: '<%= dashboard_index_path %>'
            }
          }
        }
      });

      //component of footer
      var comp = new Vue({
        el: '#cFooter',
        data: {
          footer:{
            contacts:[
              {icon: 'fa-facebook-official' , url: '#'},
              {icon: 'fa-envelope' , url: '#'},
              {icon: 'fa-phone-square' , url: '#'}
            ],
            languages: [
              {native: 'THAI' , url: '#'},
              {native: 'ENGLISH' , url: '#'}
            ],
            sites: [
              {
                //first list
                head : 'First list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' }
                ]
              },{
                //second list
                head : 'Second list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                ]
              },{
                //third list
                head : 'Last list',
                lists:[
                  { content: 'click me', url: '#' },
                ]
              }
            ]
          }
        }
      });
    </script>
  </body>
</html>
