<!DOCTYPE html>
<html>
  <head>
    <title>-KOH-Corporate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- header ><-->
    <div id="cHeader">
      <section class="hero" v-bind:class="[body.theme,body.size]">
        <nav-bar   :nav="nav" :body="body" :dashboard="login" :active="url_action" ></nav-bar>
        <span>
          <hero-body :text="selectContent"></hero-body>
        </span>
        <header class="nav _nav_affix">
            <div class="columns" style="width:100%">
              <span class="column"
                v-if="url_action == 'about'"
                v-for="l in iLinks"
                v-bind:class="['active']"
              >
                <span>
                  <a :href="l.url">{{l.title}}</a>
                </span>
              </span>
            </div>
        </header>
      </section>
    </div>


    <%= yield %>

    <!-- footer ><-->
    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer-site :footer="footer"></footer-site>
    </div>

    <!-- Include JAVASCRIPT here ><-->
    <script src="/js/body.js"></script>
    <script src="/js/ribbon.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/footer_site.js"></script>
    <script type="text/javascript">
      //component of header
      var header = new Vue({
        el: '#cHeader',
        computed: {
          selectContent: function(){
            for (var i = 0; i < this.content.length; i++) {
              var select ;
              if (this.content[i].key == this.url_action) {
                select = i ;
              }
            }
            return this.content[select]
          }
        },
        data: {
          url_action: '<%= controller.action_name %>' ,
          url_controller: '<%= controller.controller_name %>' ,
          login: <%= user_signed_in? %>,
          body: {
            theme: 'is-info',
            size:  'is-medium',
          },
          iLinks:[
            { title: 'ประวัติบริษัท'          ,action:'' , url: 'index' },
            { title: 'วิสัยทัศน์ พันธกิจ' ,action:'' , url: 'index' },
            { title: 'การประกอบธุรกิจ'      ,action:'' , url: 'index' },
            { title: 'โครงสร้างธุรกิจ'       ,action:'' , url: 'index' },
            { title: 'โครงสร้างองค์กร'      ,action:'' , url: 'index' },
            { title: 'คณะกรรมการบริษัท'     ,action:'' , url: 'index' },
            { title: 'CORPORATE IDENTITY' ,action:'' , url: 'index' },
          ],
          content: [
            { key: 'about'   , title: 'เกี่ยวกับเรา' , sub: 'PSH มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน',},
            { key: 'news'    , title: 'ข่าวและกิจกรรม', sub: 'PSH มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ทุกความต้องการของลูกค้าได้อย่างครบถ้วน',},
            { key: 'contact' , title: 'ติดต่อเรา'     , sub: 'PSH มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ทุกความต้องการของลูกค้าได้อย่างครบถ้วน',},
          ],
          sliders: [
            { title: 'Vue&Bulma in Rails stack', subtitle: 'scroll down to learn how good of component world',tab: 'tab1'},
            { title: 'Hey this is SECOND TAB', subtitle: 'are you ok with this ?',tab: 'tab2'},
            { title: 'I beleive I can fly', subtitle: 'Osmosis ',tab: 'tab3'},
          ],
          slider: false ,
          choice: 'tab1',
          nav: {
            brand: 'https://s29.postimg.org/5xtetqw6v/vbr.png',
            brandLink: "<%= home_index_path %>",
            links: [
              {
                title: 'About us',
                controller: 'about',
                link: "<%= page_about_path %>",
                target: ''
              },{
                title: 'Investor relationship',
                controller: 'investor',
                link: "<%= investor_index_path %>",
                target: ''
              },{
                title: 'News & Activities',
                controller: 'news',
                link: "<%= page_news_path %>",
                target: ''
              },{
                title: 'Contact',
                controller: 'contact',
                link: "<%= page_contact_path %>",
                target: ''
              }
            ],
            backLink: {
              title: 'Dashboard',
              icon: 'fa-arrows-alt',
              link: '<%= dashboard_index_path %>'
            }
          }
        }
      });

      //component of footer
      var comp = new Vue({
        el: '#cFooter',
        data: {
          footer:{
            contacts:[
              {icon: 'fa-facebook-official' , url: '#'},
              {icon: 'fa-envelope' , url: '#'},
              {icon: 'fa-phone-square' , url: '#'}
            ],
            languages: [
              {native: 'THAI' , url: '#'},
              {native: 'ENGLISH' , url: '#'}
            ],
            sites: [
              {
                //first list
                head : 'First list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' }
                ]
              },{
                //second list
                head : 'Second list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                ]
              },{
                //third list
                head : 'Last list',
                lists:[
                  { content: 'click me', url: '#' },
                ]
              }
            ]
          }
        }
      });
    </script>
  </body>
</html>
