<!DOCTYPE html>
<html>
  <head>
    <title>Super Genius</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- header ><-->

    <div id="cHeader">
      <section
        id="main_side"
        class="hero is-fullheight _home_bg"
        :style="{ backgroundColor: '#002a58' , background: 'url(' + body.mainbg + ') no-repeat center center' , backgroundSize: 'cover' , boxShadow: '0 -1px 8px rgba(112, 112, 112, 0.47)' }"
        v-if="mainEnable"
        >
        <div class="banner-top"> Tel. 0897606279 (พี่วิน) , 085-334-8815 (พี่ป๊อป)|windz_bs@hotmail.com </div>
        <div class="_center">
          <img class="main" src="/img_ref/sup_01.png" alt="">
          <h1>เพราะการเล่นทำให้เด็กฉลาด เราจึงเป็นโรงเรียนสอนพิเศษที่ให้ มากกว่าเเค่ความรู้ สถานที่ที่น้องๆจะได้สาระพร้อมทั้งความสนุก ผู้ปกครองสบายใจ เด็กได้เกรดดี มีสังคมของเพื่อนๆต่างโรงเรียน</h1>
          <a id="scrollTo" href="#navbar">
            <img src="/img_ref/logo_down.png" alt="">
            เข้าสู่เวปไซท์ Super Genius
          </a>
        </div>
      </section>

      <section
        class="hero _fixed_top"
        v-bind:class="[body.theme,body.size]"
        :style="{ backgroundColor: '#002a58' , background: 'url(' + body.background + ') no-repeat center center' , backgroundSize: 'cover' }"
        >
        <nav-bar
          :nav="nav"
          :body="body"
          :login="login"
          :role="checkRole"
          :active="url_action"
          ></nav-bar>
        <span class="_fixed_margin">
          <hero-slider :slider="sliders" :choice="choice"></hero-slider>
          <!-- hero-body-split id="body_content" :text="selectContent"></hero-body-split -->
          <!-- hero-body :text="selectContent"></hero-body-->
        </span>
        <header class="nav _nav_affix _add_color" v-if="url_action == 'about'" id="nav-affix">
            <div class="columns  super-columns" style="">
              <span class="column"
                v-if="url_action == 'about'"
                v-for="l in iLinks"
                v-bind:class="['active']"
              >
                <span>
                  <a>{{l.title}}</a>
                </span>
              </span>
            </div>
        </header>
      </section>
    </div>
    <div id="gap-baker"></div>

    <%= yield %>

    <!-- footer ><-->
    <div id="cFooter">
      <black-ribbon></black-ribbon>
      <footer-site-corp :footer="footer"></footer-site-corp>
    </div>

    <!-- Include JAVASCRIPT here ><-->
    <script src="/js/body.js"></script>
    <script src="/js/ribbon.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/footer_site.js"></script>
    <script type="text/javascript">
      //controll navbar
      $( document ).ready(function() {
        //nav controller
        var mainH = $('#main_side').outerHeight();
        var navH = $('#navbar').outerHeight();
        var bodyH = $('#body_content').outerHeight();
        if (mainH > 0) {
          $('#navbar').addClass('_mainH_wait_nav');
        }

        $(window).scroll(function (event) {
          var scroll = $(window).scrollTop();
          if (scroll > mainH) {
            $('#navbar').removeClass('_mainH_wait_nav');
            //header.scrollCheck = false;
          }else{
            $('#navbar').addClass('_mainH_wait_nav');
          }

          if (scroll >= ( mainH + bodyH + navH)) {
            $('._nav_affix').addClass('_fixed');
            $('#float').addClass('_fixed_margin');
            $('#gap-baker').addClass('top-60');
            $('.banner-top').addClass('_fixed_bottom');
          }else{
            $('._nav_affix').removeClass('_fixed');
            $('#float').removeClass('_fixed_margin');
            $('#gap-baker').removeClass('top-60');
            $('.banner-top').removeClass('_fixed_bottom');
          }
        });
      });

      //Smooth scroll
      $(document).on('click', 'a[href^="#"]', function(e) {
          var id = $(this).attr('href');
          var $id = $(id);
          if ($id.length === 0) {
              return;
          }
          e.preventDefault();
          var pos = $(id).offset().top;
          $('body, html').animate({scrollTop: pos},1000);
      });

      //component of header
      var header = new Vue({
        el: '#cHeader',
        computed: {
          checkRole: function(){
            if (this.login) {
              return '<%= current_user.role rescue '' %>' ;
            }
          },
          desktopCheck: function(){
            console.log(this.screenW);
            if (this.screenW > 560) { return true } else { return false }
          },
          aboutCheck: function(){
            if (this.url_action == 'about') { return true } else { return false }
          },
          mainEnable: function(){
            if (this.aboutCheck  && this.desktopCheck && this.scrollCheck) {
              return true
            } else {
              return false
            }
          },
        },
        data: {
          url_action: '<%= controller.action_name %>' ,
          url_controller: '<%= controller.controller_name %>' ,
          scrollCheck: true,
          screenW: $(window).width() ,
          login: <%= user_signed_in? %>,
          body: {
            theme: 'is-info',
            background: '/img_ref/bg_top.jpg',
            mainbg: '/super/DSC_6848.jpg',
            size:  'is-medium',
          },
          iLinks:[
            { title: 'สถาบันกวดวิชา'   ,action:'' , url: 'index' },
            { title: 'Student Gallery'  ,action:'' , url: 'index' },
            { title: 'Tutors'        ,action:'' , url: 'index' },
            { title: 'Top Students'  ,action:'' , url: 'index' },
          ],
          sliders: [
            { title: 'SUPER GENIUS school',tab: 'tab1',url: '#nav-affix', link: 'ดูคอร์สเรียนของเรา >>', subtitle: 'เพราะการเล่นทำให้เด็กฉลาด เราจึงเป็นโรงเรียนสอนพิเศษที่ให้ มากกว่าเเค่ความรู้ สถานที่ที่น้องๆจะได้สาระพร้อมทั้งความสนุก ผู้ปกครองสบายใจ เด็กได้เกรดดี มีสังคมของเพื่อนๆต่างโรงเรียน'},
            { title: 'เรียนอย่าง เข้าใจ ไม่ใช่ท่องจำ',tab: 'tab2',url: '#nav-affix', link: 'บรรยากาศห้องเรียน >>', subtitle: '---'},
            { title: 'บรรยากาศเป็นกันเอง ถาม ตอบ ได้ตลอดเวลา',tab: 'tab3',url: '#nav-affix', link: 'บรรยากาศห้องเรียน >>', subtitle: '---'},
            { title: 'พิสูจน์เเล้วกว่า 500คน 100โรงเรียน เกรดขึ้น สอบติดเเน่นอน',tab: 'tab4',url: '#nav-affix', link: 'รุ่นพี่ Super Genius >>', subtitle: '---'},
            { title: 'ประเมินผลรายบุคคลอย่างละเอียด ให้ข้อมูลสถาบันเเละหลักสูตรที่น่าสนใจ รวมถึงดูความเป็นไปได้ในการสอบ เพื่อศึกษาต่อในที่ต่างๆ',tab: 'tab5',url: '#nav-affix', link: 'เช็คผลการเรียน >>', subtitle: '---'},
            { title: 'ห้องเรียนกว้างขวาง สถานที่สวยงาม ปลอดภัย',tab: 'tab6',url: '#nav-affix', link: 'บรรยากาศห้องเรียน >>', subtitle: '---'},
            { title: 'เรียนสนุก มีความสุข ความรู้ครบถ้วน',tab: 'tab7',url: '#nav-affix', link: 'ดูคอร์สเรียนของเรา >>', subtitle: '---'},
            { title: 'สื่อการสอนครบครัน ทันสมัย',tab: 'tab8',url: '#nav-affix', link: 'ดูคอร์สเรียนของเรา >>', subtitle: '---'},
          ],
          slider: true ,
          choice: 'tab1',
          nav: {
            brand: '/img_ref/sup_01.png',
            brandLink: "<%= root_path %>",
            links: [
              {
                title: 'หน้าหลัก',
                controller: 'about',
                //link: "<%= page_about_path %>",
                link: '/page/about#navbar',
                target: ''
              },{
                title: 'คอร์สเรียน',
                controller: 'investor',
                link: "<%= investor_index_path %>",
                target: ''
              },{
                title: 'เช็คผลการเรียน',
                controller: 'news',
                link: "<%= page_news_path %>",
                target: ''
              },{
                title: 'ติดต่อเรา',
                controller: 'contact',
                link: "<%= page_contact_path %>",
                target: ''
              }
            ],
            backLink: {
              title: 'Dashboard',
              icon: 'fa-arrows-alt',
              link: '<%= dashboard_index_path %>'
            }
          }
        }
      });

      //component of footer
      var comp = new Vue({
        el: '#cFooter',
        data: {
          footer:{
            contacts:[
              {icon: 'fa-facebook-official' , url: '#'},
              {icon: 'fa-envelope' , url: '#'},
              {icon: 'fa-phone-square' , url: '#'}
            ],
            languages: [
              {native: 'THAI' , url: '#'},
              {native: 'ENGLISH' , url: '#'}
            ],
            sites: [
              {
                //first list
                head : 'First list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' }
                ]
              },{
                //second list
                head : 'Second list',
                lists:[
                  { content: 'click me', url: '#' },
                  { content: 'click me', url: '#' },
                ]
              },{
                //third list
                head : 'Last list',
                lists:[
                  { content: 'click me', url: '#' },
                ]
              }
            ]
          }
        }
      });
    </script>
  </body>
</html>
